@import "node_modules/bootstrap-scss/bootstrap.scss";
@import "blocks/variables.scss";
@import "blocks/mixins.scss";
@import "blocks/normalize.scss";
@import "blocks/sprite-png.scss";
@import "blocks/fonts.scss";
@import "blocks/nice-select.scss";

// PAGE COMPONENTS
@import "blocks/index.scss";
@import "blocks/header.scss";
@import "blocks/footer.scss";
@import "blocks/sidebar.scss";
@import "blocks/accaunt.scss";
@import "blocks/settings.scss";
@import "blocks/my-course.scss";
@import "blocks/webinar.scss";
@import "blocks/courses.scss";
@import "blocks/information.scss";
@import "blocks/chat.scss";

.icon {
	display: inline-block;
}

.icon-chrome {
	@include sprite($chrome);
}

.icon-placeholder {
	@include sprite($placeholder);
}

.container {
	max-width: 72% !important;

	@include r(1600) {
		max-width: 90% !important;

		@include r(1200) {
			max-width: 100% !important;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	text-decoration: none !important;
}

li {
	list-style: none;
	padding: 0;
	margin: 0;

}

ul {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}


.page-title {
	h1 {
		color: #1895F3;
		font-family: "Inter-SemiBold";
		font-size: 24px;
		font-style: normal;
		line-height: 150%;
	}
}

body {
	background: #FFF;
	width: 100%;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 8px;
		background-color: #fff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #1895F3;
	}
}

.col {
	padding-right: 10px !important;
	padding-left: 10px !important;
}