<div class="accunt_left">
    <div class="accaunt_info">
        <div class="accaunt_top">
            <a href="#">
                <img src="../img/accaunt.svg" alt="">
                <span class="dotch"></span>
            </a>
            <h1>Ra’no Ergasheva</h1>
        </div>
        <div class="accaunt_bottom">
            <ul class="accaunt_setting">
                <li class="setting_acc_menu"><a href="#"><img src="../img/notification.svg" alt=""><span>(1)</span></a>
                </li>
                <li class="setting_acc_menu"><a href="#"><img src="../img/messages2.svg" alt=""><span>(1)</span></a>
                </li>
                <li class="setting_acc_menu acc_set"><a href="../settings.html"><img src="../img/settings2.svg"
                            alt=""></a>
                </li>
            </ul>
            <ul class="acc_sett_bottom">
                <li class="acc_menu_bottom"><a href="#"><img src="../img/messag.svg" alt="">
                        <p>Mening kurslarim </p><span>(4)</span>
                    </a></li>
                <li class="acc_menu_bottom"><a href="#"><img src="../img/logout.svg" alt="">
                        <p>Chiqish </p><span>(4)</span>
                    </a></li>
            </ul>
        </div>
    </div>
</div>