<div class="sidebar" style="background-image: url(../img/fon_symbol.svg);">
    <div class="cabinet_menu">
        <div class="cabinet-logo">
            <a href="#">
                <img src="../img/logo.svg" alt="">
            </a>
        </div>

        <div class="cabinet_menu_item">
            <ul class="menu__item">
                <li class="menu_link"><a class="sidebar_menu active" href="#"><img src="../img/home.svg" alt="">
                        <span>Главная страница</span>
                    </a></li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/file-add.svg" alt="">
                        <span>Добавить новый курс</span>
                    </a></li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/layers.svg" alt=""> <span>Мои
                            курсы</span></a>
                </li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/layers.svg" alt="">
                        <span>Курсы</span></a>
                </li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/file.svg" alt="">
                        <span>Статьи</span></a></li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/document.svg" alt="">
                        <span>Тесты</span> </a>
                </li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/check-circled.svg" alt="">
                        <span>Отправленные тесты</span></a></li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/check-circled.svg" alt="">
                        <span>Отправленные задания </span></a></li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/category.svg" alt="">
                        <span>Вебинары</span> </a></li>

            </ul>
            <ul class="menu__item bottom_side">
                <li class="menu_link"><a class="sidebar_menu " href="#"><img src="../img/settings.svg" alt="">
                        <span>Настройки</span>
                    </a></li>
                <li class="menu_link"><a class="sidebar_menu" href="#"><img src="../img/messages.svg" alt="">
                        <span>Чат</span></a>
                </li>


            </ul>
        </div>
    </div>

</div>