.accunt_left {
    max-width: 300px;
    border-radius: 16px;
    border: 1px solid #E9E9EB;
    background: #FFF;
    margin: 0 auto;

    .accaunt_info {
        .accaunt_top {
            margin-top: 30px;
            text-align: center;

            a {
                position: relative;
                display: inline-block;
            }

            .dotch {
                position: absolute;
                bottom: 0;
                right: 0;
                background: #3BBB46;
                border: 2px solid #fff;
                width: 16px;
                height: 16px;
                border-radius: 50%;
            }

            h1 {
                margin-top: 14px;
                color: #1895F3;
                text-align: center;
                font-family: Inter-Medium;
                font-size: 16px;
            }
        }

        .accaunt_bottom {
            padding-top: 45px;
            padding-bottom: 24px;

            .accaunt_setting {
                display: flex;
                align-items: center;
                gap: 8px;
                justify-content: center;

                .setting_acc_menu {
                    border-radius: 12px;
                    border: 1px solid #EFEFFF;
                    background: #F8F8FF;
                    padding: 9px 14px;

                    img {
                        margin-right: 6px;
                    }
                }

                .acc_set {
                    padding: 9px 20px;
                }
            }

            .acc_sett_bottom {

                .acc_menu_bottom {
                    padding-top: 10px;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 6px;
                        padding: 9px 40px;
                        border-radius: 12px;
                        border: 1px solid #EFEFFF;
                        background: #F8F8FF;
                        width: 86%;
                        margin: auto;

                        p {
                            color: #1895F3;
                            font-family: Inter-Regular;
                            font-size: 14px;
                        }

                        span {
                            color: #1895F3;
                            font-family: Inter-Regular;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}