.chat {
    border-radius: 16px;
    border: 1px solid #E9E9EB;
    background: #FFF;
    padding: 30px;

    .chat-search {
        padding: 12px;
        border-radius: 14px;
        border: 1px solid var(--dark-1, #E9E9EB);
        background: rgba(255, 255, 255, 0.20);
        margin-bottom: 20px;

        button {
            color: #929399;
            padding: 0;
        }

        input {
            border: none;
            width: 80%;
            color: #929399;
            font-family: Inter-Medium;
            font-size: 16px;

            &::placeholder {
                color: #929399;

            }

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }

    .chat-pills {
        border-radius: 14px;
        border: 1px solid #E9E9EB;
        background: rgba(255, 255, 255, 0.20);
        padding: 12px;


        .chat-link {
            padding: 12px 8px !important;
            border-bottom: 1px solid #E9E9EB;
            border-top: 1px solid transparent;
            border-left: 1px solid transparent;
            border-right: 1px solid transparent;
            display: flex;
            transition: .3s;

            &:hover {
                border-radius: 13px;
                border: 1px solid #E9E9EB;
                background: #FFF;
                box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05);
            }

            &.active {
                border-radius: 13px;
                background: #F6F6F8;
            }

            img {
                width: 70px;
                height: 68px;
                border-radius: 50%;
                margin-right: 12px;
                object-fit: cover;
            }

            .chat-man {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 82%;

                .chat-left {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;

                    h6 {

                        color: #51525C;
                        font-family: Inter-Medium;
                        font-size: 16px;
                    }

                    p {
                        color: #A8A9AD;
                        font-family: Inter-Regular;
                        font-size: 14px;
                    }
                }

                .chat-right {
                    display: flex;
                    align-items: end;
                    flex-direction: column;
                    gap: 18px;
                    padding-top: 6px;

                    p {
                        color: #A8A9AD;
                        font-family: Inter-Regular;
                        font-size: 12px;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    span {
                        color: #FFF;
                        font-family: Inter-Regular;
                        font-size: 14px;
                        border-radius: 50%;
                        padding: 2px 8px;
                        background: #1AABFF;
                    }
                }
            }
        }
    }

    .chat-conten {
        position: relative;
        border-radius: 20px;
        border: 1px solid #F3F3F5;
        background: #FAFAFA;
        height: 800px;
        overflow: auto;
        padding: 34px;

        .chat-pane {
            .chat-top-blok {
                padding-bottom: 24px;
                border-bottom: 1px solid #E9E9EB;

                .left_blok_ch {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 18px;

                    .profile_photo {

                        img {
                            width: 75px;
                            height: 75px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .point {
                            position: absolute;
                            left: 54px;
                            bottom: 2px;
                            width: 15px;
                            height: 15px;
                            border: 1px solid #fff;
                            background: #3BBB46;
                            border-radius: 50%;
                        }
                    }

                    .chat_profil_title {
                        display: flex;
                        flex-direction: column;
                        gap: 7px;

                        h6 {
                            color: #262733;
                            font-family: Inter-SemiBold;
                            font-size: 24px;
                        }

                        span {
                            color: #929399;
                            font-family: Inter-Regular;
                            font-size: 14px;
                        }
                    }
                }
            }

            .chat_bottom_blok {
                padding-top: 57px;

                .message-blue {
                    position: relative;
                    margin-bottom: 6px;
                    padding: 10px;
                    background-color: #E9E9EB;
                    width: 50%;
                    text-align: left;
                    border: 1px solid #E9E9EB;
                    border-radius: 10px;
                    color: #262733;
                    font-family: Inter-Regular;
                    font-size: 16px;
                }

                .message-orange {
                    position: relative;
                    margin-top: 16px;
                    margin-bottom: 10px;
                    margin-left: calc(85% - 240px);
                    padding: 10px;
                    background-color: #1895F3;
                    max-width: 50%;
                    text-align: left;
                    color: #FFF;
                    font-family: Inter-Regular;
                    font-size: 16px;
                    border: 1px solid #1895F3;
                    border-radius: 10px;
                }

                .message-content {
                    padding: 0;
                    margin: 0;
                }

                .message-timestamp-right {
                    color: #A8A9AD;
                    font-family: Inter-Regular;
                    font-size: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    margin-right: 12px;
                }

                .message-timestamp-left {
                    color: #A8A9AD;
                    font-family: Inter-Regular;
                    font-size: 12px;
                }

                .message-blue:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: 15px solid #E9E9EB;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    bottom: 0;
                    border-bottom-left-radius: 10px;
                    left: -15px;
                }

                .message-blue:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: 17px solid #E9E9EB;
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                    bottom: -1px;
                    border-bottom-left-radius: 10px;
                    left: -17px;
                }

                .message-orange:after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: 15px solid #1895F3;
                    border-left: 15px solid transparent;
                    border-bottom-right-radius: 10px;
                    border-right: 15px solid transparent;
                    bottom: 0;
                    right: -15px;
                }

                .message-orange:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-bottom: 17px solid #1895F3;
                    border-left: 16px solid transparent;
                    border-bottom-right-radius: 10px;
                    border-right: 16px solid transparent;
                    bottom: -1px;
                    right: -17px;
                }


            }

            .chat-text-field {
                position: absolute;
                bottom: 34px;
                padding-top: 35px;
                border-top: 1px solid #E9E9EB;

                width: 90%;

                .sms-text-field {
                    border-radius: 10px;
                    width: 90%;
                    height: 45px;
                    border: 1px solid #D4D4D6;
                    padding: 10px 14px;

                    &::placeholder {
                        color: #D4D4D6;

                    }

                    &:focus {
                        outline: none;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                .filename {
                    background: #fff;
                    border: 0;
                }

                .file-upload {
                    position: absolute;
                    overflow: hidden;
                    width: 5%;
                    height: 20px;
                    right: 70px;
                    top: 45px;
                    background: transparent;
                    border-radius: 3px;
                    padding: 8px 4px;
                    color: #fff;
                    text-align: center;
                }



                .file-upload input[type="file"] {
                    display: none;
                    /* Обязательно скрываем настоящий Input File */
                }

                .file-upload label {
                    /* Растягиваем label на всю возможную площадь блока .file-upload */
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                }

                .file-upload i {
                    color: #929399;
                }

                .mikraphone {
                    border-radius: 10px;
                    background: #1895F3;
                    padding: 0 14px;
                    height: 45px;
                    margin-left: 14px;


                }
            }
        }
    }
}