.courses_main {
    .cart_courses_blok {
        border-radius: 18px;
        background: #fff;
        box-shadow: 0px 7px 14px 0px rgba(0, 70, 255, 0.09);
        width: 100%;
        min-height: 410px;
        padding: 12px;
        margin-bottom: 20px;

        .course_top {
            img {
                width: 100%;
                height: 240px;
                object-fit: cover;
                border-radius: 9px;
            }

        }

        .course_bottom {
            padding: 18px 4px 0;

            .top_span {

                span {
                    color: #F7F7F7;
                    font-family: Inter-Regular;
                    font-size: 14px;
                    border-radius: 4px;
                    padding: 2px 8px;
                    background: #1895F3;
                }
            }

            .course_bottom_title {
                padding: 12px 0;

                h4 {
                    color: #262733;
                    font-family: Inter-Medium;
                    font-size: 16px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            .lesson_bottom {
                span {
                    color: #A8A9AD;
                    font-family: Inter-Medium;
                    font-size: 12px;
                }

                p {
                    color: #1895F3;
                    font-family: Inter-Medium;
                    font-size: 14px;
                }
            }
        }
    }
}