.footer {
    background: #1895F3;
    bottom: 0;
    padding: 12px 30px 0 354px;

    @include r(1365) {
        padding: 12px 30px;
    }

    .infos {
        padding: 21px 0 36px;



        .footer_menu {
            display: flex;
            align-items: center;
            padding-bottom: 25px;

            @include r(992) {
                flex-direction: column;
                align-items: start;
                gap: 20px;
            }


            .footer_list {
                padding-left: 76px;


                @include r(992) {
                    padding-left: 0;
                }


                ul {
                    display: flex;
                    align-items: center;

                    @include r(479) {
                        flex-direction: column-reverse;
                        align-items: start;
                        gap: 8px;
                    }


                    li {
                        a {
                            padding-right: 25px;
                            color: #F4F7FF;
                            font-family: Inter-Medium;
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .footer_info {
            display: flex;
            justify-content: space-between;

            @include r(992) {
                flex-direction: column-reverse;
                align-items: start;
                gap: 20px;
            }

            .info_r {
                display: flex;
                align-items: center;

                @include r(992) {
                    flex-direction: column-reverse;
                    align-items: start;
                    gap: 20px;
                }


                a:first-child {
                    width: 36%;

                    @include r(992) {
                        width: 100%;
                    }
                }

                a {
                    display: flex;
                    align-items: center;
                    padding-right: 14px;
                    white-space: pre-wrap;


                    p {
                        margin: 0;
                        color: #FFF;
                        font-family: Inter-Regular;
                        font-size: 14px;


                    }

                    img {
                        padding-right: 8px;
                    }
                }

            }

            .info_l {
                display: flex;
                align-items: center;
                gap: 14px;
                margin: 0;
                padding: 0;

                .social_right {
                    margin: 0;
                    padding: 0;

                    a {
                        font-size: 24px;
                        color: #fff;

                        &:hover {
                            color: #fff;
                        }
                    }


                }
            }
        }
    }
}