.header_top {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #D1EAFD;
    padding-left: 340px;
    height: 75px;
    z-index: 990;
    background: #FFF;

    @include r(1365) {
        padding-left: 0;
    }

    .cabinet-logo-mobile {
        display: none;

        .mini-logo {
            display: none;
        }

        @include r(992) {
            display: block;

            @include r(576) {
                .logo-mobile {
                    display: none;
                }

                .mini-logo {
                    display: block;
                }
            }
        }
    }

    .hamburger-menu {
        border-top: 1px solid #1895F3;
        border-bottom: 1px solid #1895F3;
        border-radius: 0;
        width: 24px;
        height: 12px;
        position: relative;
        display: none;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-shadow: none;
        box-shadow: none;

        &.active {
            border: 0;
            transition: .3s;

            &::after {
                transform: rotate(-45deg);
                left: 0;
            }

            &::before {
                left: 0;
                width: 100%;
            }

        }

        @include r(1365) {
            display: block;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background: #1895F3;
            left: 6px;
            transition: .3s;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 1px;
            background: #1895F3;
            left: 6px;
            transform: rotate(45deg);
            transition: .3s;
        }
    }

    .blok_top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        height: 100%;

        @include r(576) {
            padding: 0 20px;
        }


        .header_menu {
            display: flex;
            align-items: center;
            gap: 44px;
            height: 100%;

            @include r(992) {
                display: none;
            }

            .header_item {
                position: relative;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 6px;

                &.active {
                    &::after {
                        width: 100%;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: 0;
                    left: 0;
                    background: #1895F3;
                    border-radius: 8px 8px 0px 0px;

                }

                .menu_name {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 4px solid transparent;

                    span {
                        color: #929399;
                        font-family: Inter-Regular;
                        font-size: 15px;


                    }

                    p {
                        margin-right: 4px;
                        color: #929399;
                        font-family: Inter-Regular;
                        font-size: 15px;
                    }
                }
            }
        }

        .right_block {
            display: flex;
            align-items: center;
            gap: 20px;

            .account-mobile {
                display: none;

                &::after {
                    display: none !important;
                }

                @include r(1365) {
                    display: block;
                }

                // &.show {
                //     .dropdown-menu {}
                // }

                button {
                    padding: 12px;
                    border-radius: 50%;
                    background: transparent;
                    color: #1895F3;
                    border: 1px solid transparent;
                    font-family: Inter-Medium;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    padding: 0;

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    &:focus-visible {
                        outline: none;
                    }

                    &:focus {
                        border-radius: 8px;
                    }
                }

                .dropdown-toggle {
                    &::after {
                        display: none;
                    }
                }

                .dropdown-menu {
                    margin-top: 8px;
                    border-radius: 8px;
                    background: #fff;
                    box-shadow: 20px 24px 44px 0px rgba(36, 160, 253, 0.22);
                    border: none;
                    padding: 8px;
                    box-shadow: 0px 10px 30px 0px #1895F3;

                    .accaunt_setting {
                        display: flex;
                        align-items: center;
                        gap: 6px;
                    }

                    .dropdown-item {
                        border-radius: 3px;
                        padding: 8px 18px;
                        color: #1895F3;
                        border: 1px solid #F4F7FF;
                        font-family: Inter-Regular;
                        font-size: 15px;
                        border: 1px solid #EFEFFF;
                        margin-top: 6px;

                        a {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 4px;
                        }

                        &.active,
                        &:hover {
                            background: #DCF0FF;
                        }
                    }
                }
            }

            .lang_item {


                .show {
                    .dropdown-toggle {
                        &::after {
                            transform: rotate(-225deg) !important;
                            position: relative;
                            top: 19px !important;
                            transition: 0.4s;
                        }
                    }
                }

                .lang {
                    @include r(992) {
                        display: block;
                    }

                    .dropdown-toggle {
                        &::after {
                            content: "";
                            border-bottom: 2px solid #8BCAF9;
                            border-left: 2px solid #8BCAF9;
                            width: 9px;
                            height: 9px;
                            transform: rotate(-45deg);
                            position: absolute;
                            top: 15px;
                            right: 14px;
                            transition: .3s;
                            border-top: none;
                            border-right: none;
                        }
                    }

                    button {
                        padding: 12px;
                        border-radius: 8px;
                        background: transparent;
                        color: #1895F3;
                        border: 1px solid transparent;
                        font-family: Inter-Medium;
                        font-size: 15px;
                        display: flex;
                        align-items: center;
                        width: 72px;
                        height: 44px;

                        &:focus-visible {
                            outline: none;
                        }

                        &:focus {
                            border-radius: 8px;
                        }
                    }

                    .dropdown-menu {
                        margin-top: 8px;
                        min-width: unset;
                        border-radius: 8px;
                        background: #F4F7FF;
                        box-shadow: 20px 24px 44px 0px rgba(36, 160, 253, 0.22);
                        width: 100%;
                        border: none;
                        padding: 4px;

                        .dropdown-item {
                            border-radius: 3px;
                            border-radius: 3px;
                            padding: 5px 10px;
                            color: #1895F3;
                            border: 1px solid #F4F7FF;
                            font-family: Inter-Medium;
                            font-size: 15px;

                            &.active,
                            &:hover {
                                background: #DCF0FF;
                            }
                        }
                    }
                }
            }

            .search {
                @include r(1365) {
                    display: none;
                }


                .input_logo {
                    position: relative;

                    .search_input {
                        position: absolute;
                        top: 15px;
                        left: 8px;
                        color: #1895F3;
                    }
                }

                input {
                    padding: 10px 10px 10px 30px;
                    border-radius: 8px;
                    background: #F4F7FF;
                    color: #A2BAC5;
                    font-family: Inter-Medium;
                    font-size: 15px;
                    height: 44px;
                    border: 1px solid transparent;

                    &::placeholder {
                        color: #A2BAC5;
                    }
                }
            }
        }
    }
}