main {
	min-height: 81vh;
	padding-left: 330px;
	padding-top: 90px;

	@include r(1365) {
		padding-left: 0;
	}

	.course_home {

		.search_blog {
			padding-top: 22px;



			.popular_search {
				text-align: center;
				padding-top: 44px;

				p {
					color: #1895F3;
					font-family: Inter-Regular;
					font-size: 14px;
				}
			}

			.search {
				border-radius: 24px;
				background: #1895F3;


				.search_text {
					p {
						text-align: center;
						color: #A3D5FA;
						text-align: center;
						font-family: Inter-Regular;
						font-size: 14px;
						padding: 25px 0 4px;
					}

					h4 {
						color: #FFF;
						text-align: center;
						font-family: Inter-Medium;
						font-size: 24px;
						font-style: normal;
						margin: 0;
					}
				}

				form {
					position: relative;
					left: 25%;
					top: 32px;
					border-radius: 16px;
					border: 1px solid #E9E9EB;
					background: #FFF;
					padding: 12px 22px;
					width: 50%;
					height: 66px;

					@include r(768) {
						width: 70%;
						left: 15%;

						@include r(576) {

							@include r(479) {
								width: 94%;
								left: 3%;
							}
						}
					}

					label {
						margin: 0 !important;
						color: #17B5FF;
						font-size: 24px;

						@include r(576) {
							display: none;
						}
					}

					input:focus-visible {
						outline: none;
					}

				}

				#search-input {
					background: transparent;
					border: none !important;

					color: #7D7D85;
					font-family: Inter-Regular;
					font-size: 15px;
					position: absolute;
					top: 22px;
					left: 56px;

					@include r(992) {
						width: 50%;

						@include r(768) {
							width: 62%;

							@include r(576) {
								width: 72%;
								left: 20px;

								@include r(479) {
									width: 70%;

									@include r(420) {
										width: 65%;
									}
								}
							}
						}
					}
				}

				#search-button {
					position: absolute;
					right: 10px;
					bottom: 8px;
					padding: 15px 49px;
					border-radius: 12px;
					background: #13C623;

					border: none;
					cursor: pointer;

					p {
						color: #FFF;
						font-family: Inter-Regular;
						font-size: 16px;

						@include r(576) {
							display: none;
						}
					}

					.seach_icon {
						display: none;

						@include r(576) {
							display: block;
							color: #FFF;
						}
					}

					&::placeholder {
						color: 262733;
					}


				}


			}

		}

		.search_bottom_blog {
			.search_menus {
				padding-top: 30px;
			}

			.article_menus {
				.a_menu {
					width: 99%;
					flex-wrap: wrap;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 12px;

					@include r(768) {
						padding-bottom: 8px;
						display: flex;
						align-items: center;
						overflow: auto;
						gap: 10px;

						margin-bottom: 20px;
					}

					.click_all {
						padding: 10px 14px !important;

						&:hover {
							padding: 12px 14px;
						}
					}

					.clickable {
						padding: 6px 10px;
						border-radius: 10px;
						background: #F4F7FF;
						border: 1px solid #fff;

						a {
							color: #262733;
							text-align: center;
							font-family: Inter-Regular;
							font-size: 14px;

						}

						@include r(768) {
							display: flex;
							align-items: center;
							gap: 10px;
							height: 64px;
							padding: 0 12px;
						}



						&:hover {
							border-radius: 10px;
							border: 1px solid #BADFFB;
							background: #F5FBFF;
						}

						span {
							color: #A8A9AD;
							font-family: Inter-Regular;
							font-size: 12px;
							font-style: italic;
							padding-left: 6px;
						}
					}

					.active {
						border-radius: 10px;
						border: 1px solid #1895F3;
						background: #E8F4FE;
					}

					.clickable_active {
						border-radius: 10px;
						border: 1px solid #1895F3;
						background: #E8F4FE;
					}

					img {
						width: 44px !important;
						height: 34px !important;
						padding-right: 10px;
					}
				}
			}
		}

		.cart_course {
			.course_cart_blogs {

				padding: 40px 0 20px;

				.course_blog {
					width: 100%;
					min-height: 421px;
					padding: 12px;
					margin-bottom: 20px;
					border-radius: 18px;
					background: #FFF;
					box-shadow: 0px 7px 14px 0px rgba(0, 70, 255, 0.09);

					a {
						display: flex;
						flex-direction: column;
						gap: 30px;

						.course_top {
							img {
								width: 100%;
								height: 240px;
								object-fit: cover;
								border-radius: 9px;
							}

							h4 {
								padding: 12px 4px 0;
								color: #262733;
								font-family: Inter-Medium;
								font-size: 16px;
								display: -webkit-box;
								overflow: hidden;
								-webkit-line-clamp: 3;
								-webkit-box-orient: vertical;
							}
						}

						.course_botom {
							display: flex;
							align-items: center;
							justify-content: space-between;
							padding: 0 4px;

							.course_left,
							.course_right {
								span {
									color: #A8A9AD;
									font-family: Inter-Medium;
									font-size: 12px;
								}

								p {
									color: var(--light-blue-100, #1895F3);
									font-family: Inter-Medium;
									font-size: 14px;
								}
							}
						}
					}
				}
			}

		}
	}
}

.d_pagination {

	padding: 50px 0 95px;


	@include r(992) {
		margin-bottom: 45px;

		@include r(768) {
			margin-bottom: 28px;

			@include r(420) {
				margin-bottom: 18px;

			}
		}
	}

	.home_pagination {
		@include r(992) {
			display: flex;
			justify-content: center;


		}

		.home_page_item {
			padding-right: 5px;


			.home_link {
				border-radius: 8px;
				background: #fff;
				color: #676870;
				font-family: Inter-Medium;
				font-size: 13px;
				border: 1px solid #F4F7FF;

				&:hover {
					transition: 0.5s;
					border-radius: 8px;
					border: 1px solid #F4F7FF;
					color: #E8F4FE;
					background: #1895F3;
				}

				&:active {
					background: #1895F3;
					color: #E8F4FE;
					border: transparent;
				}
			}
		}
	}



}