.ck-rounded-corners {
    height: 250px;
}

.my_course {
    .information {
        border-radius: 16px;
        border: 1px solid #E9E9EB;
        background: #F9F9F9;
        padding: 30px;
        margin-bottom: 24px;

        .information_title {
            padding-bottom: 30px;

            h2 {
                color: #51525C;
                font-family: Inter-Bold;
                font-size: 20px;
            }
        }

        .bottom_info {
            margin-top: 34px;

            .info_view {
                width: 63%;

                .title_my_course {
                    color: #1895F3;
                    font-family: Inter-Regular;
                    font-size: 14px;
                    padding-bottom: 6px;
                }

                .select_file {
                    padding: 56px;
                    border-radius: 10px;
                    border: 1px dashed #9C6BF1;
                    background: #F7F4FF;
                    text-align: center;

                    img {
                        padding-bottom: 22px;
                    }

                    h6 {
                        color: #857E95;
                        font-family: Inter-Medium;
                        font-size: 12px;
                        padding-bottom: 8px;
                    }

                    p {
                        padding-bottom: 8px;
                        color: #9C6BF1;
                        font-family: Inter-Regular;
                        font-size: 13px;
                    }

                    .file-input__label {
                        margin: 0;
                        display: block;
                        margin-bottom: 24px;

                        span {
                            cursor: pointer;
                            color: #FFF;
                            font-family: Inter-Regular;
                            font-size: 10px;
                            padding: 17px 35px;
                            border-radius: 8px;
                            background: #1895F3;
                        }
                    }

                    #up-wrap,
                    #up-wrap * {
                        font-family: arial, sans-serif;
                        box-sizing: border-box;
                    }

                    #up-wrap {
                        width: 500px;
                        padding: 20px;
                        border-radius: 20px;
                        background: rgba(255, 255, 255, 0.4);
                    }

                    /* (B) PROGRESS BAR */
                    #up-progress,
                    #up-bar,
                    #up-percent {
                        height: 30px;
                    }

                    #up-progress {
                        position: relative;
                        background: #fff;
                    }

                    #up-bar {
                        background: #d3e3ff;
                        width: 0;
                        transition: width 0.5s;
                    }

                    #up-percent {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    /* (C) FILE PICKER */
                    #up-file {
                        display: none;
                    }

                    #up-label {
                        display: inline-block;
                        margin-top: 20px;
                        padding: 10px 20px;
                        color: #fff;
                        border: 1px solid #dfdfdf;
                        background: #296cd0;
                        cursor: pointer;
                    }

                    #up-file:disabled~#up-label {
                        background: #b1b1b1;
                    }

                    /* (X) DOES NOT MATTER */
                    /* PAGE & BODY */


                    /* SVG */
                    #upload {
                        width: 100%;
                        height: 100px;
                        background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 640 512" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M537.6 226.6c4.1-10.7 6.4-22.4 6.4-34.6 0-53-43-96-96-96-19.7 0-38.1 6-53.3 16.2C367 64.2 315.3 32 256 32c-88.4 0-160 71.6-160 160 0 2.7.1 5.4.2 8.1C40.2 219.8 0 273.2 0 336c0 79.5 64.5 144 144 144h368c70.7 0 128-57.3 128-128 0-61.9-44-113.6-102.4-125.4zM393.4 288H328v112c0 8.8-7.2 16-16 16h-48c-8.8 0-16-7.2-16-16V288h-65.4c-14.3 0-21.4-17.2-11.3-27.3l105.4-105.4c6.2-6.2 16.4-6.2 22.6 0l105.4 105.4c10.1 10.1 2.9 27.3-11.3 27.3z" /></svg>');
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                    /* DEMO */
                    #up-wrap {
                        text-align: center;
                    }

                    #up-wrap h1 {
                        margin: 0 0 40px 0;
                    }

                    #up-demo {
                        margin-top: 10px;
                    }

                    /* FOOTER */
                    #code-boxx {
                        font-weight: 600;
                        margin-top: 50px;
                    }

                    #code-boxx a {
                        display: inline-block;
                        padding: 5px;
                        text-decoration: none;
                        background: #b90a0a;
                        color: #fff;
                    }
                }

                .textarea {
                    padding-top: 20px;

                    textarea {
                        width: 100%;
                        background: #F9F9F9;
                        border-radius: 9px;
                        border: 1px solid #D4D4D6;
                        height: 100px;
                        padding: 8px 16px;
                        color: #857E95;
                        /* M3/body/small */
                        font-family: Inter-Regular;
                        font-size: 12px;

                        &::placeholder {
                            color: #8BCAF9;
                        }

                        &:focus-visible {
                            outline: none;
                        }

                    }
                }

                .course_next_btn {
                    text-align: end;
                    padding-top: 50px;
                    padding-bottom: 80px;

                    .next_one_btn {
                        color: #FFF;
                        text-align: center;
                        font-family: Inter-Regular;
                        font-size: 16px;
                        height: 46px;
                        border-radius: 8px;
                        background: #1895F3;
                        width: 40%;
                    }
                }

                .blog_textarea {
                    padding-top: 20px;
                }

                .remembe_title {
                    padding: 16px 0 10px;

                    h4 {
                        color: #1895F3;
                        font-family: Inter-Regular;
                        font-size: 14px;
                    }
                }

                .category {
                    padding-top: 12px;
                    padding-bottom: 42px;

                    form {
                        .nice-select::after {
                            border-bottom: 2px solid #1895F3;
                            border-right: 2px solid #1895F3;
                            width: 10px;
                            height: 10px;
                            transition: .3s;
                            position: absolute;
                            right: 12px;
                            top: 45%;
                        }

                        .nice-select .option:hover,
                        .nice-select .option.focus,
                        .nice-select .option.selected.focus {
                            background: transparent;
                        }

                        .nice-select {
                            width: 100%;
                            height: 56px;
                            border-radius: 12px;
                            padding: 18px 15px;
                            border: 1px solid #D4D4D6;
                            color: #3C3D47;
                            font-family: Inter-Regular;
                            font-size: 12px;

                            .option {
                                padding: 10px;
                            }

                            .list {
                                max-height: 202px;
                                overflow: auto;
                                width: 100%;
                                border-radius: 12px;
                                border: 1px solid #D4D4D6;


                                li {
                                    height: 30px;
                                }
                            }
                        }

                        .addres_item {
                            width: 562px !important;
                        }

                        .avatar-upload {
                            display: flex;
                            align-items: center;
                            gap: 30px;

                            .delet_img {
                                color: #1895F3;
                                font-family: Inter-Regular;
                                font-size: 16px;
                            }

                            .avatar-edit {


                                input {
                                    display: none;

                                    +label {

                                        display: inline-block;

                                        margin-bottom: 0;
                                        cursor: pointer;
                                        transition: all .2s ease-in-out;
                                        color: #1895F3;
                                        font-family: Inter-Regular;
                                        font-size: 16px;
                                    }
                                }
                            }

                            .avatar-preview {

                                >div {
                                    width: 64px;
                                    height: 64px;
                                    border-radius: 100%;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }
                        }

                        .form-item input {
                            display: block;
                            width: 100% !important;
                            height: 56px;
                            border-radius: 12px;
                            border: 1px solid #D4D4D6;
                            transition: all .3s ease;
                            padding: 24px 15px 12px;
                            color: #3C3D47;
                            font-family: Inter-Regular;
                            font-size: 16px;
                        }

                        .form-item input:focus {
                            outline: none;
                        }


                        .form-item label {
                            position: absolute;
                            cursor: text;
                            z-index: 2;
                            top: 18px;
                            left: 20px;
                            font-size: 12px;
                            background: #fff;
                            padding: 0 10px;
                            color: #3C3D47;
                            font-family: Inter-Regular;
                            transition: all .3s ease;
                            margin: 0;
                        }

                        .form-item input:focus+label,
                        .form-item input:valid+label {
                            font-size: 11px;
                            top: 5px
                        }

                        .form-item input:focus+label {
                            color: #1895F3;

                        }

                    }
                }

                .remember-me {
                    display: flex;
                    align-items: center;
                    gap: 13px;


                    .sign_check {
                        border-radius: 9px !important;
                        border: 1px solid #BADFFB !important;
                        width: 150px;
                        padding: 0;


                        input[type="radio"]:checked+label {
                            border-radius: 9px;
                            border: 1px solid #1895F3 !important;
                            background: #E8F4FE;
                        }

                        label {
                            width: 100%;
                            height: 52px;
                            padding: 14px 12px;
                        }

                        &:hover {
                            border-radius: 9px;
                            border: 1px solid #BADFFB;
                            background: #E8F4FE;
                        }

                    }

                    .left input {
                        padding: 0;
                        height: initial;
                        width: initial;
                        margin-bottom: 0;
                        display: none;
                        cursor: pointer;
                    }

                    .left label {
                        position: relative;
                        cursor: pointer;
                        color: var(--dark-100, #262733);
                        font-size: 15px;
                        font-family: "Inter-Regular";
                        margin-bottom: 0;
                    }

                    .left label:before {
                        content: '';
                        background-color: transparent;
                        border: 1px solid #1895F3;
                        display: inline-block;
                        position: relative;
                        vertical-align: middle;
                        cursor: pointer;
                        margin-right: 5px;
                        width: 16px;
                        height: 16px;
                        border-radius: 50%;
                        top: -1px;
                    }

                    .left input:checked+label:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 21px;
                        left: 16px;
                        width: 8px;
                        height: 8px;
                        background: #1895F3;
                        border-radius: 50%;

                        @include r(394) {
                            top: 20px;
                        }
                    }

                }
            }

            .prog_pane {
                .accordion {

                    .programma_card {


                        border-radius: 16px;
                        border: 1px solid #F1F1F1;
                        background: #FFF;

                        .programma_header {

                            background: #FFF;
                            border-bottom: none;

                            .collapsed {
                                &::after {
                                    content: "";
                                    transform: rotate(45deg) !important;
                                    position: absolute;
                                    right: 12px;
                                    top: 31px !important;
                                    transition: 0.4s;
                                }
                            }

                            .programme_blok {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;


                                &::after {
                                    content: "";
                                    border-bottom: 2px solid #1895F3;
                                    border-right: 2px solid #1895F3;
                                    width: 10px;
                                    height: 10px;
                                    transition: .3s;
                                    position: absolute;
                                    transform: rotate(225deg);
                                    right: 12px;
                                    top: 36px;
                                }




                                .left_accor {
                                    display: flex;
                                    align-items: center;
                                    gap: 13px;

                                    h6 {
                                        color: #51525C;
                                        font-family: Inter-SemiBold;
                                        font-size: 18px;
                                        text-decoration: none !important;
                                    }

                                    .edit_btn {

                                        a {
                                            color: #E4CA13;
                                            border-radius: 3px;
                                            border: 1px solid #E9E9EB;
                                            background: #FFF;
                                            padding: 6px 10px;
                                        }
                                    }
                                }

                                .right_accor {
                                    .trash {
                                        .trash_btn {

                                            a {

                                                color: #E25068;

                                                span {
                                                    margin-left: 8px;

                                                    color: #929399;
                                                    font-family: Inter-Regular;
                                                    font-size: 15px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .bottom_cards {
                            .card_blok {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                border-radius: 8px;
                                background: #F7F7F7;
                                padding: 16px;
                                margin-bottom: 1px;

                                .card_left {
                                    display: flex;
                                    align-items: center;
                                    gap: 8px;

                                    p {
                                        color: #51525C;
                                        font-family: Inter-SemiBold;
                                        font-size: 16px;
                                    }
                                }

                                .card_center {
                                    span {
                                        color: #929399;
                                        font-family: Inter-Regular;
                                        font-size: 14px;
                                        border-radius: 5px;
                                        border: 1px solid #E9E9EB;
                                        background: #F2F2F2;
                                        padding: 8px 20px;

                                    }
                                }

                                .card_right {

                                    .edit_btn {
                                        padding: 0;

                                        a {
                                            color: #E4CA13;
                                            border-radius: 3px;
                                            border: 1px solid #E9E9EB;
                                            background: #F7F7F7;
                                            padding: 6px 10px;
                                        }
                                    }

                                    .trash_btn {
                                        padding: 0;

                                        a {
                                            color: #E25068;
                                            padding: 6px 10px;
                                            border-radius: 5px;
                                            border: 1px solid #E9E9EB;
                                            background: #F7F7F7;
                                        }
                                    }
                                }
                            }

                            .course_add {
                                margin-top: 18px;
                                margin-bottom: 12px;
                                border-radius: 5px;
                                border: 1px dashed #3BBB46;
                                background: #EBF8ED;
                                height: 34px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                .add_btn {
                                    width: 100%;

                                    a {
                                        color: #3BBB46;
                                        font-family: Inter-Regular;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .warning {
                text-align: center;

                .publish {
                    color: #FFF;
                    text-align: center;
                    font-family: Inter-Regular;
                    border-radius: 8px;
                    background: #1895F3;
                    width: 17%;
                    margin-top: 48px;
                }

                .warning_obuklovat {
                    text-align: center;
                    padding: 18px;
                    width: 70%;
                    margin: auto;
                    border-radius: 12px;
                    border: 1px solid #FFDF9C;
                    background: #FFF8EA;

                    img {
                        padding-bottom: 16px;
                    }


                    p {
                        width: 73%;
                        margin: auto;
                        color: #51525C;
                        text-align: center;
                        font-family: Inter-Regular;
                    }
                }
            }

            .dopolnite {
                .setting_input {

                    .s_input_item {

                        padding: 15px 0;
                        display: flex;
                        align-items: center;
                        background: #FFF;
                        margin-bottom: 16px;
                        border-radius: 20px;

                        .dopol_title {
                            h4 {
                                color: #51525C;
                                font-family: Inter-Medium;
                                font-size: 16px;
                            }
                        }

                        .mt-20 {
                            margin-top: 20px;
                        }

                        .card_title_dopol {
                            h4 {
                                color: #51525C;
                                font-family: Inter-Medium;
                                font-size: 16px;

                            }
                        }

                        form {

                            .form-item input {
                                display: block;
                                width: 100%;
                                height: 56px;
                                border-radius: 12px;
                                border: 1px solid #D4D4D6;
                                transition: all .3s ease;
                                padding: 24px 15px 12px;
                                color: #3C3D47;
                                font-family: Inter-Regular;
                                font-size: 16px;
                            }

                            .form-item input:focus {
                                outline: none;
                            }


                            .form-item label {
                                position: absolute;
                                cursor: text;
                                z-index: 2;
                                top: 58px;
                                left: 20px;
                                font-size: 12px;
                                background: #fff;
                                padding: 0 10px;
                                color: #3C3D47;
                                font-family: Inter-Regular;
                                transition: all .3s ease;
                                margin: 0;
                            }

                            .form-item input:focus+label,
                            .form-item input:valid+label {
                                font-size: 11px;
                                top: 44px
                            }

                            .form-item input:focus+label {
                                color: #1895F3;

                            }

                        }
                    }

                    .submit_btn {
                        display: flex;
                        align-items: center;
                        justify-content: end;
                        padding: 0 16px;

                        button {
                            border-radius: 8px;
                            background: #1895F3;
                            height: 46px;
                            width: 18%;
                            color: #FFF;
                            text-align: center;
                            font-family: Inter-Regular;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .overview_info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .information_menu {
                border-bottom: none;

                display: flex;
                align-items: center;
                gap: 32px;

                .information_item {
                    position: relative;

                    button {
                        color: #929399;
                        font-family: Inter-Regular;
                        font-size: 15px;
                        padding-bottom: 14px;

                        &:hover {
                            border-bottom: 2px solid transparent;
                            border: none;
                        }
                    }

                    .active {
                        background: transparent;
                        border: none;
                        color: #1895F3;
                        padding-bottom: 14px;

                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            top: 34px;
                            left: 0;
                            background: #1895F3;
                            border-radius: 8px;
                        }
                    }


                }
            }

            .button_over {
                .preview_info {
                    padding: 6px 33px;
                    color: #FFF;
                    text-align: center;
                    font-family: Inter-Regular;
                    font-size: 14px;
                    border-radius: 8px;
                    background: #1895F3;
                }
            }
        }
    }

}