.my_course {
    .my_course_title {

        h2 {
            padding-top: 14px;
            color: #1895F3;
            font-family: Inter-SemiBold;
            font-size: 24px;
            padding-bottom: 20px;
        }
    }

    .cart_course {
        .course_cart_blogs {

            padding: 20px 0 20px;

            .course_blog {
                width: 100%;
                min-height: 421px;
                padding: 12px;
                margin-bottom: 20px;
                border-radius: 18px;
                background: #FFF;
                box-shadow: 0px 7px 14px 0px rgba(0, 70, 255, 0.09);

                a {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .course_top {
                        img {
                            width: 100%;
                            height: 240px;

                        }

                        h4 {
                            padding: 12px 4px 0;
                            color: #262733;
                            font-family: Inter-Medium;
                            font-size: 16px;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                        }
                    }

                    .course_botom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 4px;

                        .course_left,
                        .course_right {
                            span {
                                color: #A8A9AD;
                                font-family: Inter-Medium;
                                font-size: 12px;
                            }

                            p {
                                color: var(--light-blue-100, #1895F3);
                                font-family: Inter-Medium;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .d_pagination {

            padding: 50px 0 95px;


            @include r(992) {
                margin-bottom: 45px;

                @include r(768) {
                    margin-bottom: 28px;

                    @include r(420) {
                        margin-bottom: 18px;

                    }
                }
            }

            .home_pagination {
                @include r(992) {
                    display: flex;
                    justify-content: center;


                }

                .home_page_item {
                    padding-right: 5px;


                    .home_link {
                        border-radius: 8px;
                        background: #fff;
                        color: #676870;
                        font-family: Inter-Medium;
                        font-size: 13px;
                        border: 1px solid #F4F7FF;

                        &:hover {
                            transition: 0.5s;
                            border-radius: 8px;
                            border: 1px solid #F4F7FF;
                            color: #E8F4FE;
                            background: #1895F3;
                        }

                        &:active {
                            background: #1895F3;
                            color: #E8F4FE;
                            border: transparent;
                        }
                    }
                }
            }



        }
    }
}