.page-title {
    padding-bottom: 15px;
}

.setting {
    padding: 20px 30px;
    border-radius: 16px;
    border: 1px solid #E9E9EB;
    background: #FFF;
    margin-bottom: 24px;

    .setting_nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 32px;
        border-bottom: 1px solid #E9E9EB;

        .s_nav_item {
            border-bottom: none;

            .nav-link {
                color: #929399;
                font-family: Inter-Regular;
                font-size: 15px;

                &.active {
                    color: #1895F3;
                    border-color: #fff;
                    padding-bottom: 12px;
                    border-bottom: 2px solid #1895F3;
                }

                &:hover {
                    border-color: #fff;
                }
            }

        }

        .end_btn_s {
            color: #FFF;
            text-align: center;
            font-family: Inter-Regular;
            font-size: 14px;
            padding: 9px 33px;
            border-radius: 8px;
            background: #1895F3;

        }
    }

    .tab-content {
        .tab-pane {
            .setting_input {
                .s_input_item {
                    padding: 15px 0;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #E9E9EB;

                    .s_title {
                        h4 {
                            color: #A8A9AD;
                            font-family: Inter-Regular;
                            font-size: 12px;
                        }
                    }


                    form {
                        .nice-select::after {
                            border-bottom: 2px solid #1895F3;
                            border-right: 2px solid #1895F3;
                            width: 10px;
                            height: 10px;
                            transition: .3s;
                            position: absolute;
                            right: 12px;
                            top: 45%;
                        }

                        .nice-select .option:hover,
                        .nice-select .option.focus,
                        .nice-select .option.selected.focus {
                            background: transparent;
                        }

                        .nice-select {
                            width: 100%;
                            height: 56px;
                            border-radius: 12px;
                            padding: 18px 15px;
                            border: 1px solid #D4D4D6;
                            color: #3C3D47;
                            font-family: Inter-Regular;
                            font-size: 12px;

                            .option {
                                padding: 10px;
                            }

                            .list {
                                max-height: 202px;
                                overflow: auto;
                                width: 100%;
                                border-radius: 12px;
                                border: 1px solid #D4D4D6;


                                li {
                                    height: 30px;
                                }
                            }
                        }

                        .addres_item {
                            width: 562px !important;
                        }

                        .avatar-upload {
                            display: flex;
                            align-items: center;
                            gap: 30px;

                            .delet_img {
                                color: #1895F3;
                                font-family: Inter-Regular;
                                font-size: 16px;
                            }

                            .avatar-edit {


                                input {
                                    display: none;

                                    +label {

                                        display: inline-block;

                                        margin-bottom: 0;
                                        cursor: pointer;
                                        transition: all .2s ease-in-out;
                                        color: #1895F3;
                                        font-family: Inter-Regular;
                                        font-size: 16px;
                                    }
                                }
                            }

                            .avatar-preview {

                                >div {
                                    width: 64px;
                                    height: 64px;
                                    border-radius: 100%;
                                    background-size: cover;
                                    background-repeat: no-repeat;
                                    background-position: center;
                                }
                            }
                        }

                        .form-item input {
                            display: block;
                            width: 358px;
                            height: 56px;
                            border-radius: 12px;
                            border: 1px solid #D4D4D6;
                            transition: all .3s ease;
                            padding: 24px 15px 12px;
                            color: #3C3D47;
                            font-family: Inter-Regular;
                            font-size: 16px;
                        }

                        .form-item input:focus {
                            outline: none;
                        }


                        .form-item label {
                            position: absolute;
                            cursor: text;
                            z-index: 2;
                            top: 18px;
                            left: 20px;
                            font-size: 12px;
                            background: #fff;
                            padding: 0 10px;
                            color: #3C3D47;
                            font-family: Inter-Regular;
                            transition: all .3s ease;
                            margin: 0;
                        }

                        .form-item input:focus+label,
                        .form-item input:valid+label {
                            font-size: 11px;
                            top: 5px
                        }

                        .form-item input:focus+label {
                            color: #1895F3;

                        }

                    }
                }
            }
        }
    }
}