.sidebar {
    position: fixed;
    width: 324px;
    height: 100%;
    background: #1895F3;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow-y: auto;
    z-index: 999;
    top: 0;
    left: 0;

    @include r(1365) {
        background-image: none !important;
        left: -100%;
        transition: .4s;
        box-shadow: 0px 20px 40px 0px #1895F3;

        &.active {
            left: 0;
        }
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    .cabinet_menu {
        padding: 30px 0px 30px 30px;

        @include r(1365) {
            padding: 10px;
            padding-right: 0 !important;
        }

        .cabinet-logo {
            padding: 0px 20px;
        }

        .cabinet_menu_item {
            .bottom_side {
                padding-top: 20px;
            }

            .menu__item {

                &:first-child {
                    padding-top: 40px;
                    padding: 22px 0 22px;
                    border-bottom: 1px solid #46AAF5;
                }

                .menu_link {
                    margin-bottom: 4px;

                    .sidebar_menu {
                        color: #FFF;
                        font-family: "Inter-Regular";
                        font-size: 15px;
                        font-style: normal;
                        display: flex;
                        align-items: center;
                        border-left: 2px solid transparent;
                        transition: .3s;
                        border-radius: 13px 0px 0px 13px;
                        height: 60px;
                        padding-left: 18px;




                        @include r(1365) {
                            height: 50px;
                            padding-left: 8px;
                            margin-right: -2px;
                        }



                        &:hover {
                            border-left: 2px solid #FFF;
                            background: linear-gradient(90deg, #35A4F8 0%, #1895F3 100%);
                        }

                        &.active {
                            border-left: 2px solid #FFF;
                            background: linear-gradient(90deg, #35A4F8 0%, #1895F3 100%);

                        }

                        img {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}