.pt-0 {
    padding-top: 0 !important;
}

.my_course {
    .my_course_title {
        display: flex;
        align-items: center;
        gap: 18px;

        a {
            margin-top: 12px;
            padding: 8px 14px;
            color: #A0A0A0;
            border: 1px solid #A0A0A0;
            border-radius: 50%;
        }

        h2 {
            padding-top: 14px;
            color: #1895F3;
            font-family: Inter-SemiBold;
            font-size: 24px;
        }
    }

    .sent_exercises {

        .no_p {
            display: flex;
            align-items: center;
            justify-content: start !important;

            span {
                padding: 0 !important;

            }
        }

        .head_item {
            span {
                padding-left: 02px;
                color: #A8A9AD;
                font-family: Inter-Regular;
                font-size: 14px;
            }

            .no_pl {
                padding-left: 12px;
            }


            a {
                border-radius: 5px;
                background: #F39B18;
                padding: 8px 70px;
                color: #FFF;
                font-family: Inter-Regular;
                font-size: 14px;
            }

            .title_exer {
                padding-left: 64px;
            }
        }

        .bottom_blok_exer {
            margin-top: 16px;
            border-radius: 10px;
            border: 1px solid #F2F2F2;
            background: #fff;
            padding: 14px;

            .card_border {
                padding: 12px 0;
                border-bottom: 1px solid #F2F2F2;

                .sent_test {
                    display: block !important;

                    span {
                        padding-bottom: 10px;
                    }

                    p {
                        padding-left: 10px;
                        color: #676870;
                        font-family: Inter-regular;
                        font-size: 12px;
                    }
                }

                &:last-child {
                    border-bottom: none;
                    padding-bottom: 0 !important;
                }

                &:first-child {
                    padding-top: 0 !important;
                }

                .end_btn {
                    padding: 14px;
                    display: flex;
                    align-items: center;
                    justify-content: end !important;
                }

                .head_item {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    .inactiv {
                        display: flex;
                        align-items: center;
                        color: #929399;
                        padding: 8px 20px;
                        font-family: Inter-Regular;
                        border-radius: 5px;
                        background: #F2F2F2;
                        font-size: 14px;
                    }

                    span {
                        color: #262733;
                        font-family: Inter-Regular;
                        font-size: 14px;
                    }

                    img {
                        overflow: hidden;
                        width: 73px;
                        height: 42px;
                        object-fit: cover;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .information_breadcrumb {
        padding: 0 0 16px 58px !important;
    }

    .breadcrumb_all {
        padding: 0 0 16px;


        .breadcrumb {
            background: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 32px;



            .breadcrumb-item {
                color: #6974A5;
                font-family: Inter-Medium;
                font-size: 14px;
                position: relative;


                a {
                    color: #6974A5;
                }

                &::before {
                    display: none;
                }

                &::after {
                    content: "";
                    border-bottom: 2px solid #A0A0A0;
                    border-left: 2px solid #A0A0A0;
                    width: 8px;
                    height: 8px;
                    position: absolute;
                    top: 7px;
                    right: -22px;
                    transform: rotate(225deg);


                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }

            .active {
                color: #051769 !important;
            }
        }

        .title {
            margin-top: 20px;
            display: flex;
            align-items: center;

            h1 {
                color: #051769;
                font-family: Inter-SemiBold;
                font-size: 36px;
                padding-right: 28px;
                margin: 0;


            }

            p {
                color: #1895F3;
                font-family: Inter-Bold;
                font-size: 36px;


            }
        }
    }

    .webinar_view {
        padding: 40px;
        border-radius: 16px;
        border: 1px solid #E9E9EB;
        background: #FFF;
        margin-bottom: 24px;

        .view_top_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 16px;
            border-bottom: 1px solid #E7E7E7;

            span {
                color: #F7F7F7;
                font-family: Inter-Regular;
                font-size: 14px;
                border-radius: 4px;
                padding: 2px 8px;
                background: #1895F3;
            }

            h4 {
                color: #1895F3;
                font-family: Inter-Medium;
                font-size: 14px;
            }

            p {
                color: #A8A9AD;
                font-family: Inter-Regular;
                font-size: 12px;
                font-style: italic;
            }
        }

        .view_center_blok {
            margin-top: 30px;
            padding: 14px;
            border-radius: 16px;
            border: 1px solid #E9E9EB;
            display: flex;
            justify-content: space-between;

            .zoom_img {
                display: flex;
                align-items: start;
                gap: 20px;

                .zoom_item {
                    .items_bottom {
                        padding-top: 12px;

                        p {
                            color: #A8A9AD;
                            font-family: Inter-Medium;
                            font-size: 14px;
                        }

                        a {
                            color: #1895F3;
                            font-family: Inter-Medium;
                            font-size: 14px;
                        }
                    }

                    .z_items {
                        display: flex;
                        align-items: start;
                        gap: 30px;

                        .items_top {
                            span {
                                color: #A8A9AD;
                                font-family: Inter-Medium;
                                font-size: 12px;
                            }

                            p {
                                color: #1895F3;
                                font-family: Inter-Medium;
                                font-size: 14px;
                            }
                        }


                    }
                }
            }

            .zoom_button {
                display: flex;
                flex-direction: column-reverse;
                justify-content: end;

                button {
                    color: #FFF;
                    font-family: Inter-Regular;
                    font-size: 14px;
                    border-radius: 12px;
                    background: #1895F3;
                    height: 42px;
                    width: 200px;
                }
            }
        }

        .article_blok {
            .article_title {
                padding: 30px 0 20px;

                h2 {
                    color: #262733;
                    font-family: Inter-Bold;
                    font-size: 26px;
                }
            }

            .article_desc {
                p {
                    color: #111;
                    font-family: Inter-Regular;
                    font-size: 19px;
                }
            }

            .article_img {
                padding: 60px 75px 30px;

                img {
                    width: 934px;
                    height: 484px;
                    object-fit: cover;
                }
            }
        }

    }

    .cart_webinar {
        .webinar_cart_blogs {

            padding: 20px 0 20px;

            .course_blog {
                width: 100%;
                min-height: 402px;
                padding: 12px;
                margin-bottom: 20px;
                border-radius: 18px;
                background: #FFF;
                box-shadow: 0px 7px 14px 0px rgba(0, 70, 255, 0.09);

                a {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    .course_top {
                        position: relative;

                        .lang_time {
                            padding-top: 22px;
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            p {
                                color: #F7F7F7;
                                font-family: Inter-Regular;
                                font-size: 14px;
                                padding: 2px 8px;
                                border-radius: 4px;
                                background: #1895F3;
                            }

                            span {
                                color: #A8A9AD;
                                text-align: right;
                                font-family: Inter-Regular;
                                font-size: 12px;
                            }
                        }

                        .creat_date_lang {
                            position: absolute;
                            bottom: 46px;
                            left: 10px;

                            span {
                                color: #262733;
                                font-family: Inter-Regular;
                                font-size: 14px;
                                border-radius: 4px;
                                background: rgba(255, 255, 255, 0.60);
                                backdrop-filter: blur(8px);
                                padding: 8px 15px;
                            }
                        }

                        img {
                            width: 100%;
                            height: 270px;
                            object-fit: cover;
                            border-radius: 9px;
                        }

                        h4 {
                            padding: 12px 4px 0;
                            color: #262733;
                            font-family: Inter-Medium;
                            font-size: 16px;
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }

                    .article_botom {
                        .article_left {
                            span {
                                color: #A8A9AD;
                                font-family: Inter-Medium;
                                font-size: 12px;
                            }

                            p {
                                color: var(--light-blue-100, #1895F3);
                                font-family: Inter-Medium;
                                font-size: 14px;
                            }
                        }

                        .article_button {
                            padding-top: 25px;

                            button {
                                width: 100%;
                                border-radius: 12px;
                                background: #1895F3;
                                height: 42px;
                                color: #FFF;
                                font-family: Inter-Regular;
                                font-size: 14px;
                            }
                        }
                    }

                    .course_botom {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 0 4px;

                        .course_left,
                        .course_right {
                            span {
                                color: #A8A9AD;
                                font-family: Inter-Medium;
                                font-size: 12px;
                            }

                            p {
                                color: var(--light-blue-100, #1895F3);
                                font-family: Inter-Medium;
                                font-size: 14px;
                            }
                        }

                        .right_button {

                            button {
                                min-width: 160px;
                                border-radius: 12px;
                                background: #1895F3;
                                height: 42px;
                                color: #FFF;
                                font-family: Inter-Regular;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .d_pagination {

            padding: 50px 0 95px;


            @include r(992) {
                margin-bottom: 45px;

                @include r(768) {
                    margin-bottom: 28px;

                    @include r(420) {
                        margin-bottom: 18px;

                    }
                }
            }

            .home_pagination {
                @include r(992) {
                    display: flex;
                    justify-content: center;


                }

                .home_page_item {
                    padding-right: 5px;


                    .home_link {
                        border-radius: 8px;
                        background: #fff;
                        color: #676870;
                        font-family: Inter-Medium;
                        font-size: 13px;
                        border: 1px solid #F4F7FF;

                        &:hover {
                            transition: 0.5s;
                            border-radius: 8px;
                            border: 1px solid #F4F7FF;
                            color: #E8F4FE;
                            background: #1895F3;
                        }

                        &:active {
                            background: #1895F3;
                            color: #E8F4FE;
                            border: transparent;
                        }
                    }
                }
            }



        }
    }

    .my_course_main {
        .course_top_blok {


            .course_head {

                .head_item {
                    padding-bottom: 16px;

                    .h_items {
                        color: #A8A9AD;
                        font-family: Inter-Regular;
                        font-size: 14px;
                    }

                    .b_items_img {
                        padding: 0 55px 0 38px;

                    }

                    .end_items_first {
                        padding-left: 100px;
                    }

                    .end_items {
                        padding: 0 33px;
                    }

                    .first_item {
                        padding-left: 12px;
                    }
                }
            }

            .course_body {
                border-collapse: separate;
                border-spacing: 0;
                border: 1px solid #F2F2F2;
                background: #fff;

                tr:first-child {
                    border-top-left-radius: 10px;
                }

                tr:last-child th:first-child {
                    border-bottom-left-radius: 10px;
                }


                .body_item {
                    height: 60px;


                    .published {
                        padding-left: 76px;
                        padding-right: 33px;

                        span {
                            color: #FFF;
                            font-family: Inter-Regular;
                            font-size: 14px;
                            border-radius: 5px;
                            background: #3BBB46;
                            padding: 8px 20px;

                        }
                    }

                    .unpublished {
                        padding-left: 76px;
                        padding-right: 33px;

                        span {
                            color: #FFB71F;
                            font-family: Inter-Regular;
                            font-size: 14px;
                            border-radius: 5px;
                            border: 1px solid #FFDF9C;
                            background: #FFF8EA;
                            padding: 8px 16px;

                        }
                    }

                    .b_items {
                        color: #262733;
                        font-family: Inter-Medium;
                        font-size: 14px;
                        text-align: center;
                    }

                    .first_item {
                        padding-left: 12px;
                    }

                    .edit_end {
                        padding-left: 40px;

                        a {
                            color: #E4CA13;
                            padding: 6px 10px;

                            border-radius: 5px;
                            border: 1px solid #F6E889;
                            background: #FFF8CA;
                        }
                    }

                    .preview {
                        padding: 0 14px 0 8px;

                        a {
                            padding: 6px 10px;
                            border-radius: 5px;
                            border: 1px solid #A3D5FA;
                            background: #E8F4FE;
                            color: #1895F3;
                            font-family: Inter-Regular;
                            font-size: 14px;

                        }
                    }

                    .b_items_img {
                        padding: 0 55px 0 38px;

                        img {
                            width: 73px;
                            height: 42px;
                            object-fit: cover;
                            border-radius: 4px;
                        }
                    }

                    .text_start {
                        text-align: start;

                        a {
                            color: #262733;
                            font-family: Inter-Medium;
                            font-size: 14px;
                            text-align: center;
                        }
                    }

                    .end_items_first {
                        padding-left: 76px;

                        padding-right: 33px;

                        span {
                            color: #929399;
                            padding: 8px 20px;
                            border-radius: 5px;
                            background: #F2F2F2;

                        }
                    }


                }
            }
        }
    }
}