@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Vebinarlar</h2>
                    </div>
                    <div class="breadcrumb_all">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Xirurgiya</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Можно ли вылечить простуду за
                                    один день?</li>
                            </ol>
                        </nav>

                    </div>
                    <div class="webinar_view">
                        <div class="view_top_block">
                            <span>Русский</span>
                            <h4>Ahmedov Temur</h4>
                            <p>12:32 | 23.12.2023</p>
                        </div>

                        <div class="article_blok">
                            <div class="article_title">
                                <h2>Можно ли вылечить простуду за один день?</h2>
                            </div>
                            <div class="article_desc">
                                <p>Поговорка о леченой простуде, проходящей за неделю, и нелеченой – за 7 дней,
                                    придумана не зря. Действительно, если у вас уже весь простудный «букет»: насморк,
                                    кашель, головная боль, саднящее горло, – то придется помучиться всю неделю, ну,
                                    может, дней пять, если организм сильный. Тогда можно облегчить свое состояние с
                                    помощью препаратов, снимающих симптомы простуды. Их сегодня выпускается большое
                                    количество. Это порошки для приготовления лечебного напитка. Содержат они, как
                                    правило, парацетамол (жаропонижающее и противовоспалительное вещество), а также
                                    средства, сужающие сосуды и облегчающие носовое дыхание, витамин С, кофеин,
                                    уменьшающий головную боль.</p>
                            </div>
                            <div class="article_img">
                                <img src="./img/article.png" alt="">
                            </div>
                            <div class="article_title">
                                <h2>Можно ли вылечить простуду за один день?</h2>
                            </div>
                            <div class="article_desc">
                                <p>Ответ: захватить простуду в самом начале и тут же принять меры. А начало – это не
                                    тогда, когда вы уже вовсю чихаете, а в горле как будто наждаком скребут. Самые
                                    первые признаки неблагополучия – чувствуется легкий дискомфорт в горле и чуть-чуть
                                    свербит в носу. Этот момент и надо отследить.
                                </p><br>
                                <p> Что делать?</p><br>
                                <P>
                                    1. Прополоскать горло любым дезинфицирующим раствором: фурацилином, мирамистином,
                                    настойкой календулы, эвкалипта, отварами трав (шалфей, ромашка). Если в доме ничего
                                    этого нет, можно сделать такой раствор: стакан теплой воды, по 1 ч.л. соды и соли и
                                    несколько капель йода. (Внимание: йод может вызвать аллергическую реакцию!)
                                    Полоскать горло надо несколько раз в день.
                                </P><br>
                                <p>
                                    2. Промыть нос соленой водой. Можно купить готовый раствор в аптеке, а можно
                                    воспользоваться тем же, что и для горла.</p>
                            </div>
                            <div class="article_img">
                                <img src="./img/article2.png" alt="">
                            </div>
                            <div class="article_desc">
                                <p>3. Намазать крылья носа бальзамом «Звездочка», под носом – оксолиновой мазью.</p>
                                <br>
                                <p> Если даже вы не справитесь с простудой за один день, то благодаря перечисленным
                                    мерам она будет протекать гораздо легче.</p>
                            </div>
                            <div class="article_title">
                                <h2>Чем помочь при простуде?</h2>
                            </div>
                            <div class="article_desc">
                                <p>Если справиться с простудой в самом начале не удалось и вы все-таки заболели, первое,
                                    что надо сделать, – остаться дома. А еще лучше – лечь в кровать и поспать. Сон –
                                    прекрасное средство от многих болезней, и тем более от простудных.
                                </p><br>
                                <p>
                                    Во время болезни забудьте обо всех делах – и рабочих, и домашних. Не ходите на
                                    работу – ваш героизм никому не нужен, и в первую очередь вам самим. И не затевайте
                                    генеральную уборку, оставшись дома. Иначе вы рискуете заболеть всерьез и надолго.
                                </p><br>
                                <p>
                                    Отдыхайте, больше спите; в первые дни не стоит смотреть ТВ, читать и, конечно,
                                    сидеть за компьютером. Организм должен набраться сил, чтобы справиться с болезнью.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')