@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Chat</h2>
                    </div>
                    <div class="chat">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="chat-search">
                                    <form>
                                        <button type="submit" for="search" class="btn shadow-none"><i
                                                class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                        <input id="search" type="text" placeholder="Search">

                                    </form>
                                </div>
                                <div class="nav flex-column nav-pills chat-pills" id="v-pills-tab" role="tablist"
                                    aria-orientation="vertical">
                                    <a class="nav-link chat-link " id="v-pills-home-tab" data-toggle="pill"
                                        href="#v-pills-home" role="tab" aria-controls="v-pills-home"
                                        aria-selected="true">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Leslie Alexander</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <span>2</span>
                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-profile-tab" data-toggle="pill"
                                        href="#v-pills-profile" role="tab" aria-controls="v-pills-profile"
                                        aria-selected="false">
                                        <img src="./img/mini-logo.svg" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Darrell Steward</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <span>2</span>

                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-messages-tab" data-toggle="pill"
                                        href="#v-pills-messages" role="tab" aria-controls="v-pills-messages"
                                        aria-selected="false">
                                        <img src="./img/course.png" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Annette Black</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <img src="./img/check-all.svg" alt="">
                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-settings-tab" data-toggle="pill"
                                        href="#v-pills-settings" role="tab" aria-controls="v-pills-settings"
                                        aria-selected="false">
                                        <img src="./img/chat_photo.png" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Cody Fisher</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <img src="./img/check-all.svg" alt="">
                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-chat-tab" data-toggle="pill"
                                        href="#v-pills-chat" role="tab" aria-controls="v-pills-chat"
                                        aria-selected="false">
                                        <img src="./img/accaunt.svg" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Jacob Jones</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <img src="./img/check-all.svg" alt="">
                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-chat-two-tab" data-toggle="pill"
                                        href="#v-pills-chat-two" role="tab" aria-controls="v-pills-chat-two"
                                        aria-selected="false">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Dianne Russell</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <img src="./img/check-all.svg" alt="">
                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-chat-three-tab" data-toggle="pill"
                                        href="#v-pills-chat-three" role="tab" aria-controls="v-pills-chat-three"
                                        aria-selected="false">
                                        <img src="./img/accaunt.svg" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>John Russell</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <img src="./img/check-all.svg" alt="">
                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-chat-four-tab" data-toggle="pill"
                                        href="#v-pills-chat-four" role="tab" aria-controls="v-pills-chat-four"
                                        aria-selected="false">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Dianne Russell</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <img src="./img/check-all.svg" alt="">
                                            </div>
                                        </div>
                                    </a>
                                    <a class="nav-link chat-link" id="v-pills-chat-five-tab" data-toggle="pill"
                                        href="#v-pills-chat-five" role="tab" aria-controls="v-pills-chat-five"
                                        aria-selected="false">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                        <div class="chat-man">
                                            <div class="chat-left">
                                                <h6>Dianne Russell</h6>
                                                <p>Dinner?</p>
                                            </div>
                                            <div class="chat-right">
                                                <p>Today, 8:56pm</p>
                                                <img src="./img/check-all.svg" alt="">
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="tab-content chat-conten" id="v-pills-tabContent">
                                    <div class="tab-pane chat-pane fade show active" id="v-pills-home" role="tabpanel"
                                        aria-labelledby="v-pills-home-tab">
                                        <div class="chat-top-blok">
                                            <div class="left_blok_ch">
                                                <div class="profile_photo">

                                                    <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                                    <div class="point">
                                                    </div>
                                                </div>
                                                <div class="chat_profil_title">
                                                    <h6>Jo'rabek Abdiyev</h6>
                                                    <span>Online</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="chat_bottom_blok">
                                            <div class="sent_sms">

                                                <div class="message-blue">
                                                    <p class="message-content">This is an awesome This is an awesome
                                                        This is
                                                        an awesome
                                                    </p>
                                                </div>
                                                <span class="message-timestamp-left">SMS 13:37</span>
                                            </div>
                                            <div class="came_sms">

                                                <div class="message-orange">
                                                    <p class="message-content"> I agree that your message is awesome! I
                                                        agree that your message is awesome! I agree that your message is
                                                    </p>
                                                </div>
                                                <span class="message-timestamp-right">SMS 13:37</span>
                                            </div>
                                            <div class="sent_sms">

                                                <div class="message-blue">
                                                    <p class="message-content">This is an awesome This is an awesome
                                                        This is
                                                        an awesome
                                                    </p>
                                                </div>
                                                <span class="message-timestamp-left">SMS 13:37</span>
                                            </div>
                                            <div class="came_sms">

                                                <div class="message-orange">
                                                    <p class="message-content"> Hi !
                                                    </p>
                                                </div>
                                                <span class="message-timestamp-right">SMS 13:37</span>
                                            </div>
                                        </div>
                                        <div class="chat-text-field">
                                            <form>
                                                <input type="text" name="sms" id="sms"
                                                    class=" shadow-none sms-text-field">
                                                <div class="file-upload">
                                                    <label>
                                                        <input type="file" name="file">
                                                        <i class="fa-solid fa-camera"></i>
                                                    </label>
                                                </div>

                                                <button class="btn shadow-none mikraphone">
                                                    <img src="./img/mikrafon.svg" alt="">
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                                        aria-labelledby="v-pills-profile-tab">2</div>
                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                        aria-labelledby="v-pills-messages-tab">3</div>
                                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                        aria-labelledby="v-pills-settings-tab">4</div>
                                    <div class="tab-pane fade" id="v-pills-chat" role="tabpanel"
                                        aria-labelledby="v-pills-chat-tab">5</div>
                                    <div class="tab-pane fade" id="v-pills-chat-two" role="tabpanel"
                                        aria-labelledby="v-pills-chat-two-tab">6</div>
                                    <div class="tab-pane fade" id="v-pills-chat-three" role="tabpanel"
                                        aria-labelledby="v-pills-chat-three-tab">7</div>
                                    <div class="tab-pane fade" id="v-pills-chat-four" role="tabpanel"
                                        aria-labelledby="v-pills-chat-four-tab">7</div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')