@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-11">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Kurslar</h2>
                    </div>
                    <div class="courses_main">
                        <div class="row">
                            <div class="cols col-xl-4">
                                <div class="cart_courses_blok" href="#">
                                    <a href="#">

                                        <div class="course_top">
                                            <img src="./img/course.png" alt="">
                                        </div>
                                        <div class="course_bottom">
                                            <div class="top_span">
                                                <span>Tibbiyot</span>
                                            </div>
                                            <div class="course_bottom_title">
                                                <h4>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="lesson_bottom">
                                                <span>Darslar</span>
                                                <p>15</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="cols col-xl-4">
                                <div class="cart_courses_blok" href="#">
                                    <a href="#">

                                        <div class="course_top">
                                            <img src="./img/course.png" alt="">
                                        </div>
                                        <div class="course_bottom">
                                            <div class="top_span">
                                                <span>Tibbiyot</span>
                                            </div>
                                            <div class="course_bottom_title">
                                                <h4>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="lesson_bottom">
                                                <span>Darslar</span>
                                                <p>15</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="cols col-xl-4">
                                <div class="cart_courses_blok" href="#">
                                    <a href="#">

                                        <div class="course_top">
                                            <img src="./img/course.png" alt="">
                                        </div>
                                        <div class="course_bottom">
                                            <div class="top_span">
                                                <span>Tibbiyot</span>
                                            </div>
                                            <div class="course_bottom_title">
                                                <h4>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="lesson_bottom">
                                                <span>Darslar</span>
                                                <p>15</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="cols col-xl-4">
                                <div class="cart_courses_blok" href="#">
                                    <a href="#">

                                        <div class="course_top">
                                            <img src="./img/course.png" alt="">
                                        </div>
                                        <div class="course_bottom">
                                            <div class="top_span">
                                                <span>Tibbiyot</span>
                                            </div>
                                            <div class="course_bottom_title">
                                                <h4>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="lesson_bottom">
                                                <span>Darslar</span>
                                                <p>15</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="cols col-xl-4">
                                <div class="cart_courses_blok" href="#">
                                    <a href="#">

                                        <div class="course_top">
                                            <img src="./img/course.png" alt="">
                                        </div>
                                        <div class="course_bottom">
                                            <div class="top_span">
                                                <span>Tibbiyot</span>
                                            </div>
                                            <div class="course_bottom_title">
                                                <h4>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="lesson_bottom">
                                                <span>Darslar</span>
                                                <p>15</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="cols col-xl-4">
                                <div class="cart_courses_blok" href="#">
                                    <a href="#">

                                        <div class="course_top">
                                            <img src="./img/course.png" alt="">
                                        </div>
                                        <div class="course_bottom">
                                            <div class="top_span">
                                                <span>Tibbiyot</span>
                                            </div>
                                            <div class="course_bottom_title">
                                                <h4>Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="lesson_bottom">
                                                <span>Darslar</span>
                                                <p>15</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="d_pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination home_pagination">
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Previous">
                                            <i class="fas fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Previous">
                                            <i class="fas fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">1</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">2</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">3</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">...</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">10</a>
                                    </li>
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Next">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Next">
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

@@include('templates/footer.html')