@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <a href="#"><i class="fa-solid fa-chevron-left"></i></a>
                        <h2>Mening Kurslarim</h2>
                    </div>
                    <div class="breadcrumb_all information_breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Xirurgiya</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Можно ли вылечить простуду за
                                    один день?</li>
                            </ol>
                        </nav>

                    </div>
                    <div class="information">
                        <div class="information_title">
                            <h2>Tez tibbiy yordam o’rgatish</h2>
                        </div>


                        <div class="overview_info">
                            <ul class="nav nav-tabs information_menu" id="myTab" role="tablist">
                                <li class="nav-item information_item" role="presentation">
                                    <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home"
                                        type="button" role="tab" aria-controls="home"
                                        aria-selected="true">Информация</button>
                                </li>
                                <li class="nav-item  information_item" role="presentation">
                                    <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile"
                                        type="button" role="tab" aria-controls="profile" aria-selected="false">Программа
                                        обучения</button>
                                </li>
                                <li class="nav-item  information_item" role="presentation">
                                    <button class="nav-link" id="contact-tab" data-toggle="tab" data-target="#contact"
                                        type="button" role="tab" aria-controls="contact"
                                        aria-selected="false">Дополнительная информация</button>
                                </li>
                                <li class="nav-item  information_item" role="presentation">
                                    <button class="nav-link" id="lastt-tab" data-toggle="tab" data-target="#lastt"
                                        type="button" role="tab" aria-controls="lastt"
                                        aria-selected="false">Опубликовать</button>
                                </li>
                            </ul>
                            <ul class="button_over">
                                <button type="button" class="btn shadow-none preview_info">Preview</button>
                            </ul>
                        </div>
                        <div class="tab-content bottom_info" id="myTabContent">
                            <div class="tab-pane info_view fade show active" id="home" role="tabpanel"
                                aria-labelledby="home-tab">
                                <h4 class="title_my_course">Изображения курса</h4>
                                <form id="upload_form" enctype="multipart/form-data" method="post" class="select_file">
                                    <div class="select_top_blok">
                                        <img src="./img/cloud-upload.svg" alt="">
                                        <p>Select a file or drag and drop here</p>

                                        <h6>
                                            Select a file or drag and drop here
                                            JPG, JPEG or PNG file size no more than 10MB
                                        </h6>
                                        <h6>
                                            Размер: 750x422
                                        </h6>

                                    </div>
                                    <div class="select_bottom_blok">

                                    </div>
                                    <input type="file" name="file1" class="d-none" id="file1"
                                        onchange="uploadFile()"><br>
                                    <label class="file-input__label" for="file1">

                                        <span>Select file</span></label>
                                    <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
                                    <h3 class="d-none" id="status"></h3>
                                    <p class="d-none" id="loaded_n_total"></p>

                                </form>
                                <div class="textarea">
                                    <form action="">
                                        <textarea id="text_one" name="text_one" placeholder="Заглавие*"></textarea>
                                    </form>
                                </div>
                                <div class="textarea">
                                    <form action="">
                                        <textarea id="text_two" name="text_two"
                                            placeholder="Краткое описание*"></textarea>
                                    </form>
                                </div>
                                <div class="blog_textarea">
                                    <div id="editor"></div>
                                </div>
                                <div class="textarea">
                                    <form action="">
                                        <textarea id="text_three" name="text_three"
                                            placeholder="Чему будут учиться студенты на вашем курсе?"></textarea>
                                    </form>
                                </div>
                                <div class="textarea">
                                    <form action="">
                                        <textarea id="text_four" name="text_four" placeholder="Требования"></textarea>
                                    </form>
                                </div>
                                <div class="remembe_title">
                                    <h4>Уровень урока</h4>
                                </div>
                                <div class="remember-me">
                                    <div class="left sign_check">
                                        <input type="radio" name="checked_r" id="info_one">
                                        <label for="info_one">Начальный</label>
                                    </div>
                                    <div class="left sign_check">
                                        <input type="radio" name="checked_r" id="info_two">
                                        <label for="info_two">Средний</label>
                                    </div>
                                    <div class="left sign_check">
                                        <input type="radio" name="checked_r" id="info_trhee">
                                        <label for="info_trhee">Специалист</label>
                                    </div>
                                    <div class="left sign_check">
                                        <input type="radio" name="checked_r" id="info_four">
                                        <label for="info_four">Все уровни</label>
                                    </div>
                                </div>
                                <div class="category">

                                    <form>
                                        <select>
                                            <option data-display="Категории*">Выберите категорию</option>
                                            <option value="1">Начальный</option>
                                            <option value="2">Средний</option>
                                            <option value="3">Специалист</option>
                                            <option value="3">Все уровни</option>

                                        </select>
                                    </form>
                                </div>
                                <div class="course_next_btn">
                                    <button class="btn shadow-none next_one_btn">Keyingisi</button>
                                </div>

                            </div>
                            <div class="tab-pane prog_pane fade" id="profile" role="tabpanel"
                                aria-labelledby="profile-tab">

                                <div class="accordion" id="accordionExample">
                                    <div class="card programma_card">
                                        <div class="card-header programma_header" id="headingOne">
                                            <div class="btn  btn-block text-left programme_blok shadow-none"
                                                type="button" data-toggle="collapse" data-target="#collapseOne"
                                                aria-expanded="true" aria-controls="collapseOne">
                                                <div class="left_accor">
                                                    <h6>Tez tibbiy yordam o’rgatish</h6>
                                                    <!-- <a><i class="fa-solid fa-pencil"></i></a> -->
                                                    <!-- Button trigger modal -->
                                                    <button type="button" class="btn shadow-none edit_btn"
                                                        data-toggle="modal" data-target="#staticBackdrop">
                                                        <a><i class="fa-solid fa-pencil"></i></a>

                                                    </button>

                                                    <div class="modal fade" id="staticBackdrop" data-backdrop="static"
                                                        data-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        Modal title</h5>
                                                                    <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    ...
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close</button>
                                                                    <button type="button"
                                                                        class="btn btn-primary">Understood</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="right_accor">
                                                    <div class="trash">


                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn shadow-none trash_btn"
                                                            data-toggle="modal" data-target="#staticBackdrop">
                                                            <a href="#"><i
                                                                    class="fa-solid fa-trash"></i><span>Удалить</span></a>
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="staticBackdrop"
                                                            data-backdrop="static" data-keyboard="false" tabindex="-1"
                                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="staticBackdropLabel">Modal title</h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        ...
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close</button>
                                                                        <button type="button"
                                                                            class="btn btn-primary">Understood</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div id="collapseOne" class="collapse  show" aria-labelledby="headingOne"
                                            data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="bottom_cards">
                                                    <div class="card_blok">
                                                        <div class="card_left">
                                                            <img src="./img/menu.svg" alt="">
                                                            <p>Anafilaktik shokda tez tibbiy yordam</p>
                                                        </div>
                                                        <div class="card_center">
                                                            <span>
                                                                Лекция
                                                            </span>
                                                        </div>
                                                        <div class="card_right">
                                                            <button type="button" class="btn shadow-none edit_btn"
                                                                data-toggle="modal" data-target="#staticBackdrop">
                                                                <a><i class="fa-solid fa-pencil"></i></a>

                                                            </button>

                                                            <div class="modal fade" id="staticBackdrop"
                                                                data-backdrop="static" data-keyboard="false"
                                                                tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="staticBackdropLabel">
                                                                                Modal title</h5>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            ...
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary">Understood</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn shadow-none trash_btn"
                                                                data-toggle="modal" data-target="#staticBackdrop">
                                                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="staticBackdrop"
                                                                data-backdrop="static" data-keyboard="false"
                                                                tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="staticBackdropLabel">Modal title
                                                                            </h5>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            ...
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary">Understood</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card_blok">
                                                        <div class="card_left">
                                                            <img src="./img/menu.svg" alt="">
                                                            <p>Anafilaktik shokda tez tibbiy yordam</p>
                                                        </div>
                                                        <div class="card_center">
                                                            <span>
                                                                Лекция
                                                            </span>
                                                        </div>
                                                        <div class="card_right">
                                                            <button type="button" class="btn shadow-none edit_btn"
                                                                data-toggle="modal" data-target="#staticBackdrop">
                                                                <a><i class="fa-solid fa-pencil"></i></a>

                                                            </button>

                                                            <div class="modal fade" id="staticBackdrop"
                                                                data-backdrop="static" data-keyboard="false"
                                                                tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="staticBackdropLabel">
                                                                                Modal title</h5>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            ...
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary">Understood</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn shadow-none trash_btn"
                                                                data-toggle="modal" data-target="#staticBackdrop">
                                                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="staticBackdrop"
                                                                data-backdrop="static" data-keyboard="false"
                                                                tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="staticBackdropLabel">Modal title
                                                                            </h5>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            ...
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary">Understood</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card_blok">
                                                        <div class="card_left">
                                                            <img src="./img/menu.svg" alt="">
                                                            <p>Anafilaktik shokda tez tibbiy yordam</p>
                                                        </div>
                                                        <div class="card_center">
                                                            <span>
                                                                Лекция
                                                            </span>
                                                        </div>
                                                        <div class="card_right">
                                                            <button type="button" class="btn shadow-none edit_btn"
                                                                data-toggle="modal" data-target="#staticBackdrop">
                                                                <a><i class="fa-solid fa-pencil"></i></a>

                                                            </button>

                                                            <div class="modal fade" id="staticBackdrop"
                                                                data-backdrop="static" data-keyboard="false"
                                                                tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="staticBackdropLabel">
                                                                                Modal title</h5>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            ...
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary">Understood</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn shadow-none trash_btn"
                                                                data-toggle="modal" data-target="#staticBackdrop">
                                                                <a href="#"><i class="fa-solid fa-trash"></i></a>
                                                            </button>

                                                            <!-- Modal -->
                                                            <div class="modal fade" id="staticBackdrop"
                                                                data-backdrop="static" data-keyboard="false"
                                                                tabindex="-1" aria-labelledby="staticBackdropLabel"
                                                                aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h5 class="modal-title"
                                                                                id="staticBackdropLabel">Modal title
                                                                            </h5>
                                                                            <button type="button" class="close"
                                                                                data-dismiss="modal" aria-label="Close">
                                                                                <span aria-hidden="true">&times;</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            ...
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button"
                                                                                class="btn btn-secondary"
                                                                                data-dismiss="modal">Close</button>
                                                                            <button type="button"
                                                                                class="btn btn-primary">Understood</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="course_add">
                                                        <!-- Button trigger modal -->
                                                        <button type="button" class="btn shadow-none add_btn"
                                                            data-toggle="modal" data-target="#staticBackdrop">
                                                            <a href="#">
                                                                <i class="fa-solid fa-plus"></i>
                                                                Добавить
                                                            </a>

                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="staticBackdrop"
                                                            data-backdrop="static" data-keyboard="false" tabindex="-1"
                                                            aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title"
                                                                            id="staticBackdropLabel">Modal title</h5>
                                                                        <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        ...
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">Close</button>
                                                                        <button type="button"
                                                                            class="btn btn-primary">Understood</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="tab-pane fade dopolnite" id="contact" role="tabpanel"
                                aria-labelledby="contact-tab">
                                <div class="setting_input">
                                    <div class="row">
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-6 mt-20">
                                                    <div class="dopol_title">
                                                        <h4>Anafilaktik shokda tez tibbiy yordam</h4>
                                                    </div>
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="region"
                                                                autocomplete="off" required>
                                                            <label for="region">Второй адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="cols col-6 mt-20">

                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="region"
                                                                autocomplete="off" required>
                                                            <label for="region">Второй адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-6">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="region"
                                                                autocomplete="off" required>
                                                            <label for="region">Второй адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="cols col-6">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="region"
                                                                autocomplete="off" required>
                                                            <label for="region">Второй адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-6">
                                                    <!-- <div class="card_title_dopol">
                                                        <h4>Anafilaktik shokda tez tibbiy yordam</h4>
                                                    </div> -->
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="region"
                                                                autocomplete="off" required>
                                                            <label for="region">Второй адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="cols col-6">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="region"
                                                                autocomplete="off" required>
                                                            <label for="region">Второй адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="submit_btn">
                                                <button class="btn shadow-none">Saqlash</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade warning" id="lastt" role="tabpanel" aria-labelledby="lastt-tab">
                                <div class="warning_obuklovat">
                                    <img src="./img/warning.svg" alt="">
                                    <p>Ваш курс находится в состоянии черновика. Студенты не могут просматривать этот
                                        курс или записываться на него. Для студентов этот курс не будет отображаться в
                                        их Личном кабинете.</p>

                                </div>
                                <button class="btn shadow-none publish">Publish</button>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')