@@include('templates/header.html')

<main>
    <div class="my_course">
        <div class="my_course_title">
            <h2>Mening Kurslarimni ichi</h2>
        </div>

    </div>
</main>

@@include('templates/footer.html')