@@include('templates/header.html')


<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 cols w100-1600">
                <div class="course_home w-100">

                    <div class="search_blog">

                        <div class="search search_back">
                            <div class="search_text">
                                <p>Поиск онлайн курсов</p>
                                <h4>Интересные и полезные курсы в области медицины</h4>
                            </div>
                            <form>

                                <label for="search-input">
                                    <i class="fas fa-search search_input"></i>
                                </label>
                                <input type="text" class="shadow-none" name="search" id="search-input"
                                    placeholder="Поиск онлайн курсов">
                                <button type="submit" id="search-button">
                                    <p>Qidirish</p>
                                    <a class="seach_icon" href="">
                                        <i class="fas fa-search search_input"></i>
                                    </a>
                                </button>
                            </form>
                        </div>
                        <div class="popular_search">
                            <p>Популярные запросы: Акушерство, Урология, Терапия, Неврология, Хирургия</p>
                        </div>
                    </div>

                    <div class="search_bottom_blog">
                        <div class="article_menus search_menus ">
                            <ul class="a_menu">

                                </a>
                                <li class="clickable click_all clickable_active"><a href="#">Barchasi<span>(4323)</span>
                                </li>
                                <li class="clickable"><a href="#"><img src="./img/symbol_2.png" alt="">Аллергология и
                                        иммунология
                                        <span>(1232)</span>
                                    </a>
                                </li>
                                <li class="clickable"><a href="#"><img src="./img/icons8-.png" alt="">Медицина
                                        <span>(266)</span>
                                    </a>
                                </li>

                                <li class="clickable"><a href="#"><img src="./img/medicine_chest.png" alt="">Медицина
                                        <span>(266)</span>
                                    </a>
                                </li>
                                <li class="clickable"><a href="#"><img src="./img/symbol_2.png" alt="">Аллергология и
                                        иммунология
                                        <span>(1232)</span>
                                    </a>
                                </li>
                                <li class="clickable"><a href="#"><img src="./img/icons8-.png" alt="">Медицина
                                        <span>(266)</span>
                                    </a>
                                </li>

                                <li class="clickable"><a href="#"><img src="./img/medicine_chest.png" alt="">Медицина
                                        <span>(266)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="cart_course">
                        <div class="course_cart_blogs">

                            <div class="row">
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="cols col-xl-4">
                                    <div class="course_blog">
                                        <a href="#">
                                            <div class="course_top">
                                                <img src="./img/course.png" alt="">
                                                <h4>
                                                    Mikroinsult: simptomlari, sabablari, davosi va reabilitatsion davr
                                                </h4>
                                            </div>
                                            <div class="course_botom">
                                                <div class="course_left">
                                                    <span>Muallif</span>
                                                    <p>Alisher Ro'zmetov</p>
                                                </div>
                                                <div class="course_right">
                                                    <span>Leksiyalar</span>
                                                    <p>1 Dona</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d_pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination home_pagination">
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Previous">
                                            <i class="fas fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Previous">
                                            <i class="fas fa-angle-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">1</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">2</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">3</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">...</a>
                                    </li>
                                    <li class="page-item home_page_item"><a class="page-link home_link shadow-none"
                                            href="#">10</a>
                                    </li>
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Next">
                                            <i class="fas fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item home_page_item">
                                        <a class="page-link home_link shadow-none" href="#" aria-label="Next">
                                            <i class="fas fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 cols hide-1600">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')