@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Mening Kurslarim</h2>
                    </div>
                    <div class="my_course_main">
                        <table class="course_top_blok">
                            <thead class="course_head">
                                <tr class=" head_item">
                                    <th class="h_items first_item">No</th>
                                    <th class="h_items b_items_img">Rasmi</th>
                                    <th class="h_items">Nomi</th>
                                    <th class="h_items  end_items_first">Holati</th>
                                    <th class="h_items end_items">Leksiya</th>
                                    <th class="h_items end_items">Topshiriq</th>
                                    <th class="h_items end_items">Topshiriq</th>
                                </tr>
                            </thead>
                            <tbody class="course_body">
                                <tr class="body_item">
                                    <th class="b_items first_item">1.</th>
                                    <td class="b_items b_items_img"><img src="./img/article.png" alt=""></td>
                                    <td class="b_items text_start"><a href="#"> Tez tibbiy yordam ko’rsatish</a></td>
                                    <td class="b_items  end_items_first"><span>Inactive</span> </td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">2</td>
                                    <td class="b_items edit_end"><a type="button"><i class="fa-solid fa-pen"></i></a>
                                    </td>
                                    <td class="b_items end_items preview">
                                        <a href="#">PREVIEW</a>
                                    </td>
                                </tr>
                                <tr class="body_item">
                                    <th class="b_items first_item">2.</th>
                                    <td class="b_items b_items_img"><img src="./img/article.png" alt=""></td>
                                    <td class="b_items text_start"><a href="#"> Tez tibbiy yordam ko’rsatish</a></td>
                                    <td class="b_items  published"><span>Published</span> </td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">2</td>
                                    <td class="b_items edit_end"><a type="button"><i class="fa-solid fa-pen"></i></a>
                                    </td>
                                    <td class="b_items end_items preview">
                                        <a href="#">PREVIEW</a>
                                    </td>
                                </tr>
                                <tr class="body_item">
                                    <th class="b_items first_item">3.</th>
                                    <td class="b_items b_items_img"><img src="./img/article.png" alt=""></td>
                                    <td class="b_items text_start"><a href="#"> Tez tibbiy yordam ko’rsatish</a></td>
                                    <td class="b_items  unpublished"><span>Unpublished</span> </td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">2</td>
                                    <td class="b_items edit_end"><a type="button"><i class="fa-solid fa-pen"></i></a>
                                    </td>
                                    <td class="b_items end_items preview">
                                        <a href="#">PREVIEW</a>
                                    </td>
                                </tr>
                                <tr class="body_item">
                                    <th class="b_items first_item">4.</th>
                                    <td class="b_items b_items_img"><img src="./img/article.png" alt=""></td>
                                    <td class="b_items text_start"><a href="#"> Tez tibbiy yordam ko’rsatish</a></td>
                                    <td class="b_items  end_items_first"><span>Draft</span> </td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">1</td>
                                    <td class="b_items end_items">2</td>
                                    <td class="b_items edit_end"><a type="button"><i class="fa-solid fa-pen"></i></a>
                                    </td>
                                    <td class="b_items end_items preview">
                                        <a href="#">PREVIEW</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')