@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Jo’natilgan mashqlar</h2>
                    </div>
                    <div class="sent_exercises">
                        <div class="row">
                            <div class="cols col-xl-1">
                                <div class="head_item">
                                    <span class="no_pl">No</span>
                                </div>
                            </div>
                            <div class="cols col-xl-1">
                                <div class="head_item">
                                    <span class="no_pl">Rasm</span>
                                </div>
                            </div>
                            <div class="cols col-xl-3">
                                <div class="head_item">
                                    <span>Rasm</span>
                                </div>
                            </div>
                            <div class="cols col-xl-1">
                                <div class="head_item">
                                    <span>Holati</span>
                                </div>
                            </div>

                            <div class="cols col-xl-1">
                                <div class="head_item">
                                    <span>Locale price</span>
                                </div>
                            </div>
                        </div>
                        <div class="bottom_blok_exer">
                            <div class="row card_border">
                                <div class="cols col-xl-1">
                                    <div class="head_item no_p">
                                        <span>1 .</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                    </div>
                                </div>
                                <div class="cols col-xl-3">
                                    <div class="head_item sent_test">
                                        <span>Tez tibbiy yordam ko’rsatish </span>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span class="inactiv">Inactive</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span>Bepul</span>
                                    </div>
                                </div>

                                <div class="cols col-xl-5">
                                    <div class="head_item end_btn">
                                        <a href="#">Testlar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row card_border">
                                <div class="cols col-xl-1">
                                    <div class="head_item no_p">
                                        <span>1 .</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                    </div>
                                </div>
                                <div class="cols col-xl-3">
                                    <div class="head_item sent_test">
                                        <span>Tez tibbiy yordam ko’rsatish </span>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span class="inactiv">Inactive</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span>Bepul</span>
                                    </div>
                                </div>

                                <div class="cols col-xl-5">
                                    <div class="head_item end_btn">
                                        <a href="#">Testlar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row card_border">
                                <div class="cols col-xl-1">
                                    <div class="head_item no_p">
                                        <span>1 .</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                    </div>
                                </div>
                                <div class="cols col-xl-3">
                                    <div class="head_item sent_test">
                                        <span>Tez tibbiy yordam ko’rsatish </span>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span class="inactiv">Inactive</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span>Bepul</span>
                                    </div>
                                </div>

                                <div class="cols col-xl-5">
                                    <div class="head_item end_btn">
                                        <a href="#">Testlar</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row card_border">
                                <div class="cols col-xl-1">
                                    <div class="head_item no_p">
                                        <span>1 .</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <img src="./img/Screenshot 2023-08-01 134203.png" alt="">
                                    </div>
                                </div>
                                <div class="cols col-xl-3">
                                    <div class="head_item sent_test">
                                        <span>Tez tibbiy yordam ko’rsatish </span>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                        <p>Лекции : 1</p>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span class="inactiv">Inactive</span>
                                    </div>
                                </div>
                                <div class="cols col-xl-1">
                                    <div class="head_item">
                                        <span>Bepul</span>
                                    </div>
                                </div>

                                <div class="cols col-xl-5">
                                    <div class="head_item end_btn">
                                        <a href="#">Testlar</a>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')