@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Sozlamalar</h2>
                    </div>
                    <div class="setting">
                        <nav class="setting_nav">
                            <div class="nav nav-tabs s_nav_item" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">Profil sozlamalari</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Qo’shimcha
                                    ma’lumotlar</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" aria-controls="nav-contact" aria-selected="false">Ijtimoiy tarmoqlar</a>
                                <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab"
                                    href="#nav-password" role="tab" aria-controls="nav-password"
                                    aria-selected="false">Password</a>
                            </div>
                            <button type="button" class="btn shadow-none end_btn_s">Saqlash</button>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                <div class="setting_input">
                                    <div class="row">
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">
                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Username</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="username"
                                                                autocomplete="off" required>
                                                            <label for="username">Имя</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Adress</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none addres_item" type="text"
                                                                id="emailuser" autocomplete="off" required>
                                                            <label for="emailuser">Адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Adress</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="avatar-upload">
                                                            <div class="avatar-preview">
                                                                <div id="imagePreview"
                                                                    style="background-image: url(./img/accaunt.svg)">
                                                                </div>
                                                            </div>
                                                            <div class="avatar-edit">
                                                                <input type='file' id="imageUpload"
                                                                    accept=".png, .jpg, .jpeg" />
                                                                <label for="imageUpload">Update</label>
                                                            </div>
                                                            <button type="button"
                                                                class="btn shadow-none delet_img">Delete</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Zip</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="phone" id="zip"
                                                                autocomplete="off" required>
                                                            <label for="zip">Zip</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Название работы</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="phone" id="talaba"
                                                                autocomplete="off" required>
                                                            <label for="talaba">Название работы</label>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                <div class="setting_input">
                                    <div class="row">
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Второй адрес</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-4">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="region"
                                                                autocomplete="off" required>
                                                            <label for="region">Второй адрес</label>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="cols col-4">
                                                    <form>
                                                        <select>
                                                            <option data-display="Страна">Страна</option>
                                                            <option value="1">Uzbekistan</option>
                                                            <option value="2">Russia>
                                                            <option value="3">Turkey</option>

                                                        </select>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>City</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="city"
                                                                autocomplete="off" required>
                                                            <label for="city">City</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Telefon</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="tel" id="city"
                                                                autocomplete="off" required>
                                                            <label for=" city">+998</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                <div class="setting_input">
                                    <div class="row">

                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Website URL</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="website"
                                                                autocomplete="off" required>
                                                            <label for=" website">Website</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Twitter URL</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="twitter"
                                                                autocomplete="off" required>
                                                            <label for=" twitter">Twitter</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Linkedin URL</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="linkedin"
                                                                autocomplete="off" required>
                                                            <label for=" linkedin">Linkedin</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Facebook URL</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="facebook"
                                                                autocomplete="off" required>
                                                            <label for=" facebook">Facebook</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Instagram URL</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="instagram"
                                                                autocomplete="off" required>
                                                            <label for="instagram">Instagram</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-password" role="tabpanel"
                                aria-labelledby="nav-password-tab">
                                <div class="setting_input">
                                    <div class="row">

                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Старый пароль</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="old_password"
                                                                autocomplete="off" required>
                                                            <label for=" old_password">Старый пароль</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Новый пароль</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text" id="new_password"
                                                                autocomplete="off" required>
                                                            <label for=" new_password">Новый пароль</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="cols col-xl-12">
                                            <div class="s_input_item">

                                                <div class="cols col-4">
                                                    <div class="s_title">
                                                        <h4>Подтвердите новый пароль</h4>
                                                    </div>
                                                </div>
                                                <div class="cols col-8">
                                                    <form>
                                                        <div class="form-item">
                                                            <input class="shadow-none" type="text"
                                                                id="confirm_new_password" autocomplete="off" required>
                                                            <label for="confirm_new_password">Подтвердите новый
                                                                пароль</label>
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')