@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Testlar</h2>
                    </div>
                    <div class="breadcrumb_all">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Kurslar</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Можно ли вылечить простуду за
                                    один день?</li>
                            </ol>
                        </nav>

                    </div>

                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')