@@include('templates/header.html')

<main>
    <div class="container-fluid">
        <div class="row">
            <div class="cols col-xl-9">
                <div class="my_course">
                    <div class="my_course_title">
                        <h2>Vebinarlar</h2>
                    </div>
                    <div class="breadcrumb_all">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./index.html">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Xirurgiya</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Можно ли вылечить простуду за
                                    один день?</li>
                            </ol>
                        </nav>

                    </div>
                    <div class="webinar_view">
                        <div class="view_top_block">
                            <span>Русский</span>
                            <h4>Ahmedov Temur</h4>
                            <p>12:32 | 23.12.2023</p>
                        </div>
                        <div class="view_center_blok">
                            <div class="zoom_img">
                                <img src="./img/zoom.svg" alt="">
                                <div class="zoom_item">
                                    <div class="z_items">
                                        <div class="items_top">

                                            <span>Zoom id</span>
                                            <p>93732232886</p>
                                        </div>
                                        <div class="items_top">

                                            <span>Zoom id</span>
                                            <p>93732232886</p>
                                        </div>
                                    </div>
                                    <div class="items_bottom">
                                        <p>Zoom link</p>
                                        <a
                                            href="#">https://zoom.us/meeting/register/tJcqdOuqrTkiEtKbSGDWiB12Z0xGrQSc85W2</a>
                                    </div>
                                </div>
                            </div>
                            <div class="zoom_button">
                                <button type="button" class="btn shadow-none">Qatnashish</button>
                            </div>
                        </div>
                        <div class="article_blok">
                            <div class="article_title">
                                <h2>Можно ли вылечить простуду за один день?</h2>
                            </div>
                            <div class="article_desc">
                                <p>Поговорка о леченой простуде, проходящей за неделю, и нелеченой – за 7 дней,
                                    придумана не зря. Действительно, если у вас уже весь простудный «букет»: насморк,
                                    кашель, головная боль, саднящее горло, – то придется помучиться всю неделю, ну,
                                    может, дней пять, если организм сильный. Тогда можно облегчить свое состояние с
                                    помощью препаратов, снимающих симптомы простуды. Их сегодня выпускается большое
                                    количество. Это порошки для приготовления лечебного напитка. Содержат они, как
                                    правило, парацетамол (жаропонижающее и противовоспалительное вещество), а также
                                    средства, сужающие сосуды и облегчающие носовое дыхание, витамин С, кофеин,
                                    уменьшающий головную боль.</p>
                            </div>
                            <div class="article_img">
                                <img src="./img/article.png" alt="">
                            </div>
                            <div class="article_title">
                                <h2>Можно ли вылечить простуду за один день?</h2>
                            </div>
                            <div class="article_desc">
                                <p>Ответ: захватить простуду в самом начале и тут же принять меры. А начало – это не
                                    тогда, когда вы уже вовсю чихаете, а в горле как будто наждаком скребут. Самые
                                    первые признаки неблагополучия – чувствуется легкий дискомфорт в горле и чуть-чуть
                                    свербит в носу. Этот момент и надо отследить.
                                </p><br>
                                <p> Что делать?</p><br>
                                <P>
                                    1. Прополоскать горло любым дезинфицирующим раствором: фурацилином, мирамистином,
                                    настойкой календулы, эвкалипта, отварами трав (шалфей, ромашка). Если в доме ничего
                                    этого нет, можно сделать такой раствор: стакан теплой воды, по 1 ч.л. соды и соли и
                                    несколько капель йода. (Внимание: йод может вызвать аллергическую реакцию!)
                                    Полоскать горло надо несколько раз в день.
                                </P><br>
                                <p>
                                    2. Промыть нос соленой водой. Можно купить готовый раствор в аптеке, а можно
                                    воспользоваться тем же, что и для горла.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cols col-xl-3">
                @@include('templates/accaunt.html')
            </div>
        </div>
    </div>
</main>

@@include('templates/footer.html')